{% load static %}

<!DOCTYPE html>
<head>
 <!-- Basic Page Needs
================================================== -->
 <title>
  Afriproperty Connect
 </title>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
 <!-- CSS
================================================== -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
</head>
<body>
 <!-- Wrapper -->
 <div id="wrapper">
  <!-- Compare Properties Widget
================================================== -->
  <div class="compare-slide-menu">
   <div class="csm-trigger">
   </div>
   <div class="csm-content">
    <h4>
     Compare Properties
     <div class="csm-mobile-trigger">
     </div>
    </h4>
    <div class="csm-properties">
     <!-- Property -->
     {% for item in compare %}
     <div class="listing-item compact">
      <a class="listing-img-container" href="{{item.get_absolute_url}}">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         {{item.sale_type}}
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         {{item.title}}
         <i>
          ${{item.price}}
         </i>
        </span>
       </div>
       <img alt="" src="{{item.image_1.url}}"/>
      </a>
     </div>
     {% endfor %}
     {% if user.is_authenticated %}
     {% else %}
     <a class="sign-in" href="login-register.html">
      <i class="fa fa-user">
      </i>
      Log In / Register To Compare
     </a>
     {% endif %}
     <!-- Property -->
     <!-- Property -->
    </div>
    {% if user.is_authenticated %}
    <div class="csm-buttons">
     <a class="button" href="compare-properties.html">
      Compare
     </a>
     <form method="GET">
      <input name="clear" value="True" type="hidden">
     <button class="button reset" type="submit">
      Reset
    </button>
   </form>
    </div>
    {% endif %}
   </div>
  </div>
  <!-- Compare Properties Widget / End -->
  <!-- Header Container
================================================== -->
  <header id="header-container">
   <!-- Topbar -->
   <div id="top-bar">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Top bar -->
      <ul class="top-bar-menu">
       <li>
        <i class="fa fa-phone">
        </i>
        +(234) 805 882 775, +(234) 905 2213 706
       </li>
       <li>
        <i class="fa fa-envelope">
        </i>
        <a href="#">
         sales@afriproperty.com.ng
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
     <!-- Left Side Content -->
     <div class="right-side">
      <!-- Social Icons -->
      <ul class="social-icons">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="pinterest" href="#">
         <i class="icon-pinterest">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
    </div>
   </div>
   <div class="clearfix">
   </div>
   <!-- Topbar / End -->
   <!-- Header -->
   <div id="header">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Logo -->
      <div id="logo">
       <a href="index.html">
        <img alt="" src="{% static 'images/logo.png' %}"/>
       </a>
      </div>
      <!-- Mobile Navigation -->
      <div class="mmenu-trigger">
       <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
         <span class="hamburger-inner">
         </span>
        </span>
       </button>
      </div>
      <!-- Main Navigation -->
      <nav class="style-1" id="navigation">
       <ul id="responsive">
        <li>
         <a href="#">
          Features
         </a>
         <ul>
          <li>
           <a href="agencies-list.html">
            Agencies &amp; Agents
           </a>
          </li>
          <li>
           <a href="blog.html">
            Blogs
           </a>
          </li>
          <li>
           <a href="compare-properties.html">
            Compare Properties
           </a>
          </li>
          <li>
           <a href="submit-property.html">
            Submit Property
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="contact.html">
          Contact
         </a>
        </li>
       </ul>
      </nav>
      <div class="clearfix">
      </div>
      <!-- Main Navigation / End -->
     </div>
     <!-- Left Side Content / End -->
     <!-- Right Side Content / End -->
     <div class="right-side">
      <!-- Header Widget -->
      <div class="header-widget">
        {% if user.is_authenticated %}
        <a class="sign-in" onclick="window.location.href='logout.html'">
         <i class="fa fa-user">
         </i>
         Logout
        </a>
        {% else %}
       <a class="sign-in" href="login-register.html">
        <i class="fa fa-user">
        </i>
        Log In / Register
       </a>
       {% endif %}
       <a class="button border" href="submit-property.html">
        Submit Property
       </a>
      </div>
      <!-- Header Widget / End -->
     </div>
     <!-- Right Side Content / End -->
    </div>
   </div>
   <!-- Header / End -->
  </header>

  <div class="clearfix">
  </div>
  <!-- Header Container / End -->
  <!-- Titlebar
================================================== -->
  <div id="titlebar">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <h2>
       Agencies
      </h2>
      <span>
       An award winning agencies
      </span>
      <!-- Breadcrumbs -->
      <nav id="breadcrumbs">
       <ul>
        <li>
         <a href="#">
          Home
         </a>
        </li>
        <li>
         Agencies
        </li>
       </ul>
      </nav>
     </div>
    </div>
   </div>
  </div>
  <!-- Content
================================================== -->
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <!-- Agency -->
     {% for item in object_list %}
     <div class="agent agent-page agency">
      <a class="agent-avatar" href="{{item.get_absolute_url}}">
       <img alt="" src="{{item.image.url}}"/>
      </a>
      <div class="agent-content">
       <div class="agent-name">
        <h4>
         <a href="{{item.get_absolute_url}}">
          {{item.title}}
         </a>
        </h4>
        <span>
         <i class="fa fa-map-marker">
         </i>
        {{item.address}}
        </span>
       </div>
       <p>
        {{item.description}}
       </p>
       <ul class="agent-contact-details">
        <li>
         <i class="sl sl-icon-call-in">
         </i>
         {{item.phone}}
        </li>
        <li>
         <i class="fa fa-envelope-o">
         </i>
         <a href="#">
          {{item.email}}
         </a>
        </li>
       </ul>
       <div class="clearfix">
       </div>
      </div>
     </div>
     {% endfor %}
     <!-- Agency -->
    </div>
    <div class="col-md-12">
     <div class="clearfix">
     </div>
     <!-- Pagination -->
     <div class="pagination-container">
      <nav class="pagination">
       <ul>
         <li>
          <a class="current-page" href=""?page=1"">
           {{ page_obj.number }}
          </a>
         </li>
         of
        <li>
         <a  href=""?page=1"">
          1
         </a>
        </li>
        {% if page_obj.has_next %}
        <li>
         <a href="?page={{ page_obj.next_page_number }}">
          2
         </a>
        </li>
        <li>
         <a href="?page={{ page_obj.paginator.num_pages }}">
          last
         </a>
        </li>
        {% endif %}
       </ul>
      </nav>
      {% if page_obj.has_next %}
      <nav class="pagination-next-prev">
       <ul>
        <li>
         <a class="prev" href="?page={{ page_obj.previous_page_number }}">
          Previous
         </a>
        </li>
        <li>
         <a class="next" href="?page={{ page_obj.next_page_number }}">
          Next
         </a>
        </li>
       </ul>
      </nav>
      {% endif %}
     </div>
     <!-- Pagination / End -->
    </div>
   </div>
  </div>
  <!-- Footer
================================================== -->
  <div class="sticky-footer" id="footer">
   <!-- Main -->
   <div class="container">
     <div class="row">
      <div class="col-md-5 col-sm-6">
       <img alt="" class="footer-logo" src="{% static 'images/logo.png' %}"/>
       <br/>
       <br/>
       <p>
        "The house you looked at today and wanted to think about until tomorrow may be the same house someone looked at yesterday and will buy today" -Koko Adasi
       </p>
      </div>
      <div class="col-md-4 col-sm-6">
       <h4>
        Helpful Links
       </h4>
       <ul class="footer-links">
        <li>
         <a href="login-register.html">
          Login
         </a>
        </li>
        <li>
         <a href="login-register.html">
          Sign Up
         </a>
        </li>
        <li>
         <a href="submit-property.html">
          Add Property
         </a>
        </li>
       </ul>
       <ul class="footer-links">
        <li>
         <a href="blog.html">
          Blog
         </a>
        </li>
        <li>
         <a href="agencies-list.html">
          Our Agencies
         </a>
        </li>
        <li>
         <a href="contect.html">
          Contact
         </a>
        </li>
       </ul>
       <div class="clearfix">
       </div>
      </div>
      <div class="col-md-3 col-sm-12">
       <h4>
        Contact Us
       </h4>
       <div class="text-widget">
        <span>
         Monrovia Street Wuse 2, Abuja Nigeria
        </span>
        <br/>
        Phone:
        <span>
         +(234) 805 882 775, +(234) 905 2213 706
        </span>
        <br/>
        E-Mail:
        <span>
         <a href="#">
          sales@afriproperty.com.ng
         </a>
        </span>
        <br/>
       </div>
       <ul class="social-icons margin-top-20">
        <li>
         <a class="facebook" href="#">
          <i class="icon-facebook">
          </i>
         </a>
        </li>
        <li>
         <a class="twitter" href="#">
          <i class="icon-twitter">
          </i>
         </a>
        </li>
        <li>
         <a class="gplus" href="#">
          <i class="icon-gplus">
          </i>
         </a>
        </li>
        <li>
         <a class="vimeo" href="#">
          <i class="icon-vimeo">
          </i>
         </a>
        </li>
       </ul>
      </div>
     </div>
    <!-- Copyright -->
    <div class="row">
     <div class="col-md-12">
      <div class="copyrights">
       Â© 2020 Afriproperty. All Rights Reserved.
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Footer / End -->
  <!-- Back To Top Button -->
  <div id="backtotop">
   <a href="#">
   </a>
  </div>
  <!-- Scripts
================================================== -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/chosen.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/magnific-popup.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/rangeSlider.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/sticky-kit.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/slick.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/masonry.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/mmenu.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/tooltips.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/custom.js' %}" type="text/javascript">
  </script>
  <!-- Google Autocomplete -->
  <script>
   function initAutocomplete() {
    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        window.alert("No details available for input: '" + place.name + "'");
        return;
      }
    });
}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initAutocomplete">
  </script>
 </div>
 <!-- Wrapper / End -->
</body>
