{% load static %}

<!DOCTYPE html>
<head>
 <!-- Basic Page Needs
================================================== -->
 <title>
  Findeo
 </title>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
 <!-- CSS
================================================== -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
</head>
<body>
 <!-- Wrapper -->
 <div id="wrapper">
  <!-- Compare Properties Widget
================================================== -->
  <div class="compare-slide-menu">
   <div class="csm-trigger">
   </div>
   <div class="csm-content">
    <h4>
     Compare Properties
     <div class="csm-mobile-trigger">
     </div>
    </h4>
    <div class="csm-properties">
     <!-- Property -->
     <div class="listing-item compact">
      <a class="listing-img-container" href="single-property-page-2.html">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         For Sale
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         Eagle Apartments
         <i>
          $420,000
         </i>
        </span>
       </div>
       <img alt="" src="{% static 'images/listing-01.jpg' %}"/>
      </a>
     </div>
     <!-- Property -->
     <div class="listing-item compact">
      <a class="listing-img-container" href="single-property-page-2.html">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         For Sale
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         Selway Apartments
         <i>
          $420,000
         </i>
        </span>
       </div>
       <img alt="" src="{% static 'images/listing-03.jpg' %}"/>
      </a>
     </div>
     <!-- Property -->
     <div class="listing-item compact">
      <a class="listing-img-container" href="single-property-page-2.html">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         For Sale
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         Oak Tree Villas
         <i>
          $535,000
         </i>
        </span>
       </div>
       <img alt="" src="{% static 'images/listing-05.jpg' %}"/>
      </a>
     </div>
    </div>
    <div class="csm-buttons">
     <a class="button" href="compare-properties.html">
      Compare
     </a>
     <a class="button reset" href="#">
      Reset
     </a>
    </div>
   </div>
  </div>
  <!-- Compare Properties Widget / End -->
  <!-- Header Container
================================================== -->
  <header id="header-container">
   <!-- Topbar -->
   <div id="top-bar">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Top bar -->
      <ul class="top-bar-menu">
       <li>
        <i class="fa fa-phone">
        </i>
        (123) 123-456
       </li>
       <li>
        <i class="fa fa-envelope">
        </i>
        <a href="#">
         office@example.com
        </a>
       </li>
       <li>
        <div class="top-bar-dropdown">
         <span>
          Dropdown Menu
         </span>
         <ul class="options">
          <li>
           <div class="arrow">
           </div>
          </li>
          <li>
           <a href="#">
            Nice First Link
           </a>
          </li>
          <li>
           <a href="#">
            Second Link With Long Title
           </a>
          </li>
          <li>
           <a href="#">
            Third Link
           </a>
          </li>
         </ul>
        </div>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
     <!-- Left Side Content -->
     <div class="right-side">
      <!-- Social Icons -->
      <ul class="social-icons">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="pinterest" href="#">
         <i class="icon-pinterest">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
    </div>
   </div>
   <div class="clearfix">
   </div>
   <!-- Topbar / End -->
   <!-- Header -->
   <div id="header">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Logo -->
      <div id="logo">
       <a href="index.html">
        <img alt="" src="{% static 'images/logo.png' %}"/>
       </a>
      </div>
      <!-- Mobile Navigation -->
      <div class="mmenu-trigger">
       <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
         <span class="hamburger-inner">
         </span>
        </span>
       </button>
      </div>
      <!-- Main Navigation -->
      <nav class="style-1" id="navigation">
       <ul id="responsive">
        <li>
         <a href="#">
          Home
         </a>
         <ul>
          <li>
           <a href="index.html">
            Home 1
           </a>
          </li>
          <li>
           <a href="index-2.html">
            Home 2
           </a>
          </li>
          <li>
           <a href="index-3.html">
            Home 3
           </a>
          </li>
          <li>
           <a href="index-4.html">
            Home 4
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#">
          Listings
         </a>
         <ul>
          <li>
           <a href="#">
            List Layout
           </a>
           <ul>
            <li>
             <a href="listings-list-with-sidebar.html">
              With Sidebar
             </a>
            </li>
            <li>
             <a href="listings-list-with-map.html">
              With Map
             </a>
            </li>
            <li>
             <a href="listings-list-full-width.html">
              Full Width
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="#">
            Grid Layout
           </a>
           <ul>
            <li>
             <a href="listings-grid-standard-with-sidebar.html">
              Standard With Sidebar
             </a>
            </li>
            <li>
             <a href="listings-grid-compact-with-sidebar.html">
              Compact With Sidebar
             </a>
            </li>
            <li>
             <a href="listings-grid-with-map.html">
              With Map
             </a>
            </li>
            <li>
             <a href="listings-grid-full-width.html">
              Full Width
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="#">
            Half Map
           </a>
           <ul>
            <li>
             <a href="listings-half-map-list.html">
              List Layout
             </a>
            </li>
            <li>
             <a href="listings-half-map-grid-standard.html">
              Grid Standard Layout
             </a>
            </li>
            <li>
             <a href="listings-half-map-grid-compact.html">
              Grid Compact Layout
             </a>
            </li>
           </ul>
          </li>
         </ul>
        </li>
        <li>
         <a href="#">
          Features
         </a>
         <ul>
          <li>
           <a href="#">
            Single Properties
           </a>
           <ul>
            <li>
             <a href="single-property-page-1.html">
              Property Style 1
             </a>
            </li>
            <li>
             <a href="single-property-page-2.html">
              Property Style 2
             </a>
            </li>
            <li>
             <a href="single-property-page-3.html">
              Property Style 3
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="#">
            Search Styles
           </a>
           <ul>
            <li>
             <a href="index.html">
              Home Search 1
             </a>
            </li>
            <li>
             <a href="index-2.html">
              Home Search 2
             </a>
            </li>
            <li>
             <a href="index-3.html">
              Home Search 3
             </a>
            </li>
            <li>
             <a href="listings-list-full-width.html">
              Advanced Style
             </a>
            </li>
            <li>
             <a href="listings-list-with-sidebar.html">
              Sidebar Search
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="#">
            My Account
           </a>
           <ul>
            <li>
             <a href="my-profile.html">
              My Profile
             </a>
            </li>
            <li>
             <a href="my-bookmarks.html">
              Bookmarked Listings
             </a>
            </li>
            <li>
             <a href="my-properties.html">
              My Properties
             </a>
            </li>
            <li>
             <a href="change-password.html">
              Change Password
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="#">
            Agencies &amp; Agents
           </a>
           <ul>
            <li>
             <a href="agencies-list.html">
              Agencies List
             </a>
            </li>
            <li>
             <a href="agency-page.html">
              Agency Page
             </a>
            </li>
            <li>
             <a href="agents-list.html">
              Agents List
             </a>
            </li>
            <li>
             <a href="agent-page.html">
              Agent Page
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="compare-properties.html">
            Compare Properties
           </a>
          </li>
          <li>
           <a href="submit-property.html">
            Submit Property
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a class="current" href="#">
          Pages
         </a>
         <ul>
          <li>
           <a href="blog.html">
            Blog
           </a>
           <ul>
            <li>
             <a href="blog.html">
              Blog
             </a>
            </li>
            <li>
             <a href="blog-post.html">
              Blog Post
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="contact.html">
            Contact
           </a>
          </li>
          <li>
           <a href="elements.html">
            Elements
           </a>
          </li>
          <li>
           <a href="pricing-tables.html">
            Pricing Tables
           </a>
          </li>
          <li>
           <a href="typography.html">
            Typography
           </a>
          </li>
          <li>
           <a href="icons.html">
            Icons
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </nav>
      <div class="clearfix">
      </div>
      <!-- Main Navigation / End -->
     </div>
     <!-- Left Side Content / End -->
     <!-- Right Side Content / End -->
     <div class="right-side">
      <!-- Header Widget -->
      <div class="header-widget">
       <a class="sign-in" href="login-register.html">
        <i class="fa fa-user">
        </i>
        Log In / Register
       </a>
       <a class="button border" href="submit-property.html">
        Submit Property
       </a>
      </div>
      <!-- Header Widget / End -->
     </div>
     <!-- Right Side Content / End -->
    </div>
   </div>
   <!-- Header / End -->
  </header>
  <div class="clearfix">
  </div>
  <!-- Header Container / End -->
  <!-- Titlebar
================================================== -->
  <div id="titlebar">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <h2>
       Blog
      </h2>
      <span>
       Keep up to date with the latest news
      </span>
      <!-- Breadcrumbs -->
      <nav id="breadcrumbs">
       <ul>
        <li>
         <a href="#">
          Home
         </a>
        </li>
        <li>
         Blog
        </li>
       </ul>
      </nav>
     </div>
    </div>
   </div>
  </div>
  <!-- Content
================================================== -->
  <div class="container">
   <!-- Blog Posts -->
   <div class="blog-page">
    <div class="row">
     <!-- Post Content -->
     <div class="col-md-8">
      <!-- Blog Post -->
      <div class="blog-post single-post">
       <!-- Img -->
       <img alt="" class="post-img" src="{{object.image.url}}"/>
       <!-- Content -->
       <div class="post-content">
        <h3>
         {{object.title}}
        </h3>
        <ul class="post-meta">
         <li>
          {{object.date}}
         </li>
         <li>
          <a href="#">
           5 Comments
          </a>
         </li>
        </ul>
        <div class="post-quote">
         <span class="icon">
         </span>
         <blockquote>
          {{object.summmary}}
         </blockquote>
        </div>
        <p>
        {{object.body}}
        </p>
        <!-- Share Buttons -->

        <div class="clearfix">
        </div>
       </div>
      </div>
      <!-- Blog Post / End -->
      <!-- Post Navigation -->

      <!-- About Author -->
      <div class="about-author">
        {% if author.image %}
        <img alt="" src="{{object.author_image.url}}"/>
        {% else %}
       <img alt="" src="{% static 'images/agent-avatar.jpg' %}"/>
       {% endif %}
       <div class="about-description">
        <h4>
         {{object.author}}
        </h4>
        <a href="#">
        {{object.email}}
        </a>
        <p>
         {{object.author_description}}
        </p>
       </div>
      </div>
      <!-- Related Posts -->
      <div class="clearfix">
      </div>
      <h4 class="headline margin-top-25">
       Related Posts
      </h4>
      <div class="row">
        {% for item in related %}
       <div class="col-md-6">
        <!-- Blog Post -->
        <div class="blog-post">
         <!-- Img -->
         <a class="post-img" href="{{item.get_absolute_url}}">
          <img alt="" src="{{item.image.url}}"/>
         </a>
         <!-- Content -->
         <div class="post-content">
          <h3>
           <a href="#">
            {{item.title}}
           </a>
          </h3>
          <p>
           {{item.summary}}
          </p>
          <a class="read-more" href="{{item.get_absolute_url}}">
           Read More
           <i class="fa fa-angle-right">
           </i>
          </a>
         </div>
        </div>
        <!-- Blog Post / End -->
       </div>
       {% endfor %}
      </div>
      <!-- Related Posts / End -->
      <div class="margin-top-50">
      </div>
      <!-- Reviews -->
      <section class="comments">
       <h4 class="headline margin-bottom-35">
        Comments
        <span class="comments-amount">
         ({{object.commment_no}})
        </span>
       </h4>
       <ul>
         {% for comment in comments %}
        <li>
         <div class="avatar">
          <img alt="" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"/>
         </div>
         <div class="comment-content">
          <div class="arrow-comment">
          </div>
          <div class="comment-by">
           {{comment.name}}
           <span class="date">
            {{comment.date}}
           </span>
          </div>
          <p>
           {{comment.comment}}.
          </p>
         </div>
        </li>
        {% endfor %}
       </ul>
      </section>
      <div class="clearfix">
      </div>
      <div class="margin-top-55">
      </div>
      <!-- Add Comment -->
      <h4 class="headline">
       Add Comment
      </h4>
      <div class="margin-top-15">
      </div>
      <!-- Add Comment Form -->
      <form class="add-comment" id="add-comment" method="GET">
       <fieldset>
        <div>
         <label>
          Name:
         </label>
         <input type="hidden" name="comment_check" value="True"/>
         <input type="text" name="name" value=""/>
        </div>
        <div>
         <label>
          Email:
          <span>
           *
          </span>
         </label>
         <input type="text" name="email" value=""/>
        </div>
        <div>
         <label>
          Comment:
          <span>
           *
          </span>
         </label>
         <textarea cols="40" rows="3" name="comment"></textarea>
        </div>
       </fieldset>
       <button class="button" type="submit">
        Add Comment
      </button>
       <div class="clearfix">
       </div>
       <div class="margin-bottom-20">
       </div>
      </form>
     </div>
     <!-- Content / End -->
     <!-- Sidebar
	================================================== -->
     <!-- Widgets -->
     <div class="col-md-4">
      <div class="sidebar right">
       <!-- Widget -->
       <div class="widget">
        <h3 class="margin-top-0 margin-bottom-25">
         Search Blog
        </h3>
        <form method="GEt">
        <div class="search-blog-input">
         <div class="input">
          <input class="search-field" placeholder="Type and hit enter" id="myInput" onkeyup="filterFunction()"name="search" type="text" value=""/>
            {% for blog in blogs %}
             {% endfor %}
         </div>
        </div>
      </form>
        <div class="clearfix">
        </div>
       </div>
       <!-- Widget / End -->
       <!-- Widget -->
       <div class="widget">
        <h3>
         Got any questions?
        </h3>
        <div class="info-box margin-bottom-10">
         <p>
          If you are having any questions, please feel free to ask.
         </p>
         <a class="button fullwidth margin-top-20" href="{% url 'APP:contact' %}">
          <i class="fa fa-envelope-o">
          </i>
          Drop Us a Line
         </a>
        </div>
       </div>
       <!-- Widget / End -->
       <!-- Widget -->
       <div class="widget">
        <h3>
         Popular Posts
        </h3>
        <ul class="widget-tabs">
         <!-- Post #1 -->
           {% for item in popular %}
           <li>
          <div class="widget-content">
           <div class="widget-thumb">
            <a href="{{item.get_absolute_url}}">
              {% if item.image %}
              <img alt="" src="{{item.image.url}}"/>
              {% else %}
             <img alt="" src="{% static 'images/blog-widget-03.jpg' %}"/>
             {% endif %}
            </a>
           </div>
           <div class="widget-text">
            <h5>
             <a href="{{item.get_absolute_url}}">
              {{item.title}}
             </a>
            </h5>
            <span>
             {{item.date}}
            </span>
           </div>
           <div class="clearfix">
           </div>
          </div>
         </li>
         {% endfor %}
         {% for item in popular_2 %}
         <li>
        <div class="widget-content">
         <div class="widget-thumb">
          <a href="{{item.get_absolute_url}}">
            {% if item.image %}
            <img alt="" src="{{item.image.url}}"/>
            {% else %}
           <img alt="" src="{% static 'images/blog-widget-03.jpg' %}"/>
           {% endif %}
          </a>
         </div>
         <div class="widget-text">
          <h5>
           <a href="{{item.get_absolute_url}}">
            {{item.title}}
           </a>
          </h5>
          <span>
           {{item.date}}
          </span>
         </div>
         <div class="clearfix">
         </div>
        </div>
       </li>
       {% endfor %}
       {% for item in popular_3 %}
       <li>
      <div class="widget-content">
       <div class="widget-thumb">
        <a href="{{item.get_absolute_url}}">
          {% if item.image %}
          <img alt="" src="{{item.image.url}}"/>
          {% else %}
         <img alt="" src="{% static 'images/blog-widget-03.jpg' %}"/>
         {% endif %}
        </a>
       </div>
       <div class="widget-text">
        <h5>
         <a href="{{item.get_absolute_url}}">
          {{item.title}}
         </a>
        </h5>
        <span>
         {{item.date}}
        </span>
       </div>
       <div class="clearfix">
       </div>
      </div>
     </li>
     {% endfor %}
         <!-- Post #2 -->
        </ul>
       </div>
       <!-- Widget / End-->
       <!-- Widget -->

       <!-- Widget / End-->
       <div class="clearfix">
       </div>
       <div class="margin-bottom-40">
       </div>
      </div>
     </div>
    </div>
    <!-- Sidebar / End -->
   </div>
  </div>
  <!-- Footer
================================================== -->
  <div class="margin-top-55">
  </div>
  <div class="sticky-footer" id="footer">
   <!-- Main -->
   <div class="container">
    <div class="row">
     <div class="col-md-5 col-sm-6">
      <img alt="" class="footer-logo" src="{% static 'images/logo.png' %}"/>
      <br/>
      <br/>
      <p>
       Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.
      </p>
     </div>
     <div class="col-md-4 col-sm-6">
      <h4>
       Helpful Links
      </h4>
      <ul class="footer-links">
       <li>
        <a href="#">
         Login
        </a>
       </li>
       <li>
        <a href="#">
         Sign Up
        </a>
       </li>
       <li>
        <a href="#">
         My Account
        </a>
       </li>
       <li>
        <a href="#">
         Add Property
        </a>
       </li>
       <li>
        <a href="#">
         Pricing
        </a>
       </li>
       <li>
        <a href="#">
         Privacy Policy
        </a>
       </li>
      </ul>
      <ul class="footer-links">
       <li>
        <a href="#">
         FAQ
        </a>
       </li>
       <li>
        <a href="#">
         Blog
        </a>
       </li>
       <li>
        <a href="#">
         Our Agents
        </a>
       </li>
       <li>
        <a href="#">
         How It Works
        </a>
       </li>
       <li>
        <a href="#">
         Contact
        </a>
       </li>
      </ul>
      <div class="clearfix">
      </div>
     </div>
     <div class="col-md-3 col-sm-12">
      <h4>
       Contact Us
      </h4>
      <div class="text-widget">
       <span>
        12345 Little Lonsdale St, Melbourne
       </span>
       <br/>
       Phone:
       <span>
        (123) 123-456
       </span>
       <br/>
       E-Mail:
       <span>
        <a href="#">
         office@example.com
        </a>
       </span>
       <br/>
      </div>
      <ul class="social-icons margin-top-20">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="vimeo" href="#">
         <i class="icon-vimeo">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <!-- Copyright -->
    <div class="row">
     <div class="col-md-12">
      <div class="copyrights">
       Â© 2016 Findeo. All Rights Reserved.
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Footer / End -->
  <!-- Back To Top Button -->
  <div id="backtotop">
   <a href="#">
   </a>
  </div>
  <!-- Scripts
================================================== -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/chosen.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/magnific-popup.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/rangeSlider.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/sticky-kit.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/slick.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/masonry.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/mmenu.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/tooltips.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/custom.js' %}" type="text/javascript">
  </script>
  <!-- Style Switcher
================================================== -->
  <script src="{% static 'scripts/switcher.js' %}">
  </script>

  <!-- Style Switcher / End -->
 </div>
 <!-- Wrapper / End -->
</body>
