{% load static %}

<!DOCTYPE html>
<head>
 <!-- Basic Page Needs
================================================== -->
 <title>
  Afriproperty Connect
 </title>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
 <!-- CSS
================================================== -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
</head>
<body>
 <!-- Wrapper -->
 <div id="wrapper">
  <!-- Compare Properties Widget
================================================== -->
  <div class="compare-slide-menu">
   <div class="csm-trigger">
   </div>
   <div class="csm-content">
    <h4>
     Compare Properties
     <div class="csm-mobile-trigger">
     </div>
    </h4>
    <div class="csm-properties">
     <!-- Property -->
     {% for item in compare %}
     <div class="listing-item compact">
      <a class="listing-img-container" href="{{item.get_absolute_url}}">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         {{item.sale_type}}
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         {{item.title}}
         <i>
          ₦{{item.price}}
         </i>
        </span>
       </div>
       <img alt="" src="{{item.image_1.url}}"/>
      </a>
     </div>
     {% endfor %}
     {% if user.is_authenticated %}
     {% else %}
     <a class="sign-in" href="{% url 'APP:login_register' %}">
      <i class="fa fa-user">
      </i>
      Log In / Register To Compare
     </a>
     {% endif %}
     <!-- Property -->
     <!-- Property -->
    </div>
    {% if user.is_authenticated %}
    <div class="csm-buttons">
     <a class="button" href="{% url 'APP:compare' %}">
      Compare
     </a>
     <form method="GET">
      <input name="clear" value="True" type="hidden">
     <button class="button reset" type="submit">
      Reset
    </button>
   </form>
    </div>
    {% endif %}
   </div>
  </div>
  <!-- Compare Properties Widget / End -->
  <!-- Header Container
================================================== -->
  <header id="header-container">
   <!-- Topbar -->
   <div id="top-bar">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Top bar -->
      <ul class="top-bar-menu">
       <li>
        <i class="fa fa-phone">
        </i>
        +(234) 805 882 775, +(234) 905 2213 706
       </li>
       <li>
        <i class="fa fa-envelope">
        </i>
        <a href="#">
         sales@afriproperty.com.ng
        </a>
       </li>
       <li>
        <a href="#">
         About
        </a>
       </li>
       <li>
        <a href="{% url 'APP:contact'%}">
         Contact
        </a>
       </li>
       <li>
         <div class="top-bar-dropdown">
           <span>Useful Links</span>
           <ul class="options">
             <li><div class="arrow"></div></li>
             <li><a href="{% url 'APP:agents' %}">Agents</a></li>
             <li><a href="{% url 'APP:agencies-list' %}">Agencies</a></li>
             <li><a href="">Developers</a></li>
             <li><a href="">Partners</a></li>
             <li><a href="{% url 'APP:blog-list' %}">Property Blog</a></li>
           </ul>
         </div>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
     <!-- Left Side Content -->
     <div class="right-side">
      <!-- Social Icons -->
      <ul class="social-icons">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="pinterest" href="#">
         <i class="icon-pinterest">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
    </div>
   </div>
   <div class="clearfix">
   </div>
   <!-- Topbar / End -->
   <!-- Header -->
   <div id="header">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Logo -->
      <div id="logo">
       <a href="{% url 'APP:index' %}">
        <img alt="" src="{% static 'images/logo.png' %}"/>
       </a>
      </div>
      <!-- Mobile Navigation -->
      <div class="mmenu-trigger">
       <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
         <span class="hamburger-inner">
         </span>
        </span>
       </button>
      </div>
      <!-- Main Navigation -->
      <nav class="style-1" id="navigation">
       <ul id="responsive">
        <li>
         <a href="{% url 'APP:index' %}">
          Home
         </a>
        </li>
        <li>
          <input type="hidden" id="sale" value="sale">
         <a onclick="showsale()">
          For Sale
         </a>
        </li>
        <li>
          <input type="hidden" id="sale2" value="rent">
         <a onclick="showsale2()">
          For Rent
         </a>
        </li>
        <li><a href="#">More</a>
          <ul>
            <li>
              <input type="hidden" id="sale3" value="shortlet">
             <a onclick="showsale3()">
              Shortlet
             </a>
            </li>
            <li>
              <input type="hidden" id="sale4" value="hotel">
             <a onclick="showsale4()">
              Hotels
             </a>
            </li>
            <li>
             <a href="{% url 'APP:pricing' %}">
              Products and Services
             </a>
            </li>
            <li>
             <a href="">
              Property Videos
             </a>
            </li>
            <li>
             <a href="">
            Multilevel Component
             </a>
            </li>
            <li>
             <a href="">
              Property Valuation
             </a>
            </li>
          </ul>
        </li>
       </ul>
      </nav>
      <div class="clearfix">
      </div>
      <!-- Main Navigation / End -->
     </div>
     <!-- Left Side Content / End -->
     <!-- Right Side Content / End -->
     <div class="right-side">
       {% if user.is_authenticated %}
       <a class="sign-in" onclick="window.location.href='{% url 'APP:logout' %}'">
        <i class="fa fa-user">
        </i>
        Logout
       </a>
       <div class="user-menu">
        <div class="user-name">
         <span>
           {% if profile.image %}
           <img alt="" src="{{profile.image.url}}"/>
           {% else %}
          <img alt="" src="{% static 'images/agent-03.jpg' %}"/>
          {% endif %}
         </span>
         Hi, {{user}}!
        </div>
        <ul>
         <li>
          <a href="{% url 'APP:profile' %}">
           <i class="sl sl-icon-user">
           </i>
           My Profile
          </a>
         </li>
         <li>
          <a href="{% url 'APP:bookmarks' %}">
           <i class="sl sl-icon-star">
           </i>
           Bookmarks
          </a>
         </li>
         <li>
          <a href="{% url 'APP:properties' %}">
           <i class="sl sl-icon-docs">
           </i>
           My Properties
          </a>
         </li>
         <li>
          <a href="{% url 'APP:logout' %}">
           <i class="sl sl-icon-power">
           </i>
           Log Out
          </a>
         </li>
        </ul>
       </div>
       {% else %}
      <a class="sign-in" href="{% url 'APP:login_register' %}">
       <i class="fa fa-user">
       </i>
       Log In / Register
      </a>
      {% endif %}
      <!-- Header Widget -->
      <div class="header-widget">
       <!-- User Menu -->



       <a class="button border" href="{% url 'APP:submit_property' %}">
        Submit Property
       </a>

      </div>

      <!-- Header Widget / End -->
     </div>
     <!-- Right Side Content / End -->
    </div>
   </div>
   <!-- Header / End -->
  </header>
  <div class="clearfix">
  </div>
  <!-- Header Container / End -->
  <!-- Search
================================================== -->
  <section class="search margin-bottom-50">
   <div class="container">
     <form method="GET">
    <div class="row">
     <div class="col-md-12">
      <!-- Title -->
      <h3 class="search-title">
       Search
      </h3>
      <!-- Form -->
      <div class="main-search-box no-shadow">
       <!-- Row With Forms -->
       <div class="row with-forms">
        <!-- Status -->
        <div class="col-md-3">
         <select class="chosen-select-no-single" name="sale_type">
          <option value="">
           Any Status
          </option>
          <option value="sale">
           For Sale
          </option>
          <option value="rent">
           For Rent
          </option>
          <option value="hotel">
           Hotel
          </option>
          <option value="shortlet">
           Shortlet
          </option>
         </select>
        </div>
        <!-- Property Type -->
        <input type="hidden" name="realcheck" value="True"/>
        <div class="col-md-3">
         <select class="chosen-select-no-single" name="category">
          <option value="">
           Any Type
          </option>
          <option value="apartment">
           Apartments
          </option>
          <option value="house">
           Houses
          </option>
          <option value="commercial">
           Commercial
          </option>
          <option value="garage">
           Garages
          </option>
          <option value="lot">
           Lots
          </option>
         </select>
        </div>
        <!-- Main Search Input -->
        <div class="col-md-6">
         <div class="main-search-input">
          <input placeholder="Enter address e.g. street, city or state" type="text" name="search" value=""/>
          <button class="button" type="submit">
           Search
          </button>
         </div>
        </div>
       </div>
       <!-- Row With Forms / End -->
       <!-- Row With Forms -->
       <div class="row with-forms">
        <!-- Min Price -->
        <div class="col-md-3">
         <!-- Select Input -->
         <div class="select-input disabled-first-option">
          <input   placeholder="Min Area" data-unit="sq m" name="min_area_1" type="text"/>
          <select name="min_area_2">
           <option value="">
            Min Area
           </option>
           <option value="300">
            300
           </option>
           <option value="400">
            400
           </option>
           <option value="500">
            500
           </option>
           <option value="700">
            700
           </option>
           <option value="800">
            800
           </option>
           <option value="1000">
            1000
           </option>
           <option value="1500">
            1500
           </option>
          </select>
         </div>
         <!-- Select Input / End -->
        </div>
        <!-- Max Price -->
        <div class="col-md-3">
         <!-- Select Input -->
         <div class="select-input disabled-first-option">
          <input placeholder="Max Area" data-unit="sq m" name="max_area_1" type="text"/>
          <select name="max_area_2">
           <option value="">
            Max Area
           </option>
           <option value="300">
            300
           </option>
           <option value="400">
            400
           </option>
           <option value="500">
            500
           </option>
           <option value="700">
            700
           </option>
           <option value="800">
            800
           </option>
           <option value="1000">
            1000
           </option>
           <option value="1500">
            1500
           </option>
          </select>
         </div>
         <!-- Select Input / End -->
        </div>
        <!-- Min Price -->
        <div class="col-md-3">
         <!-- Select Input -->
         <div class="select-input disabled-first-option">
          <input  placeholder="Min Price" name="min_price_1" data-unit="₦" type="text"/>
          <select name="min_price_2">
           <option value="">
            Min Price
          </option value="1000">
           <option>
            1 000
           </option>
           <option value="2000">
            2 000
           </option>
           <option value="3000">
            3 000
           </option>
           <option value="4000">
            4 000
           </option>
           <option value="5000">
            5 000
           </option>
           <option value="100000">
            10 000
           </option>
           <option value="15000">
            15 000
           </option>
           <option value="20000">
            20 000
           </option>
           <option value="30000">
            30 000
           </option>
           <option value="40000">
            40 000
           </option>
           <option value="500000">
            50 000
           </option>
           <option value="60000">
            60 000
           </option>
           <option value="70000">
            70 000
           </option>
           <option value="80000">
            80 000
           </option>
           <option value="90000">
            90 000
           </option>
           <option value="100000">
            100 000
           </option>
           <option value="110000">
            110 000
           </option>
           <option value="1200000">
            120 000
           </option>
           <option value="130000">
            130 000
           </option>
           <option value="140000">
            140 000
           </option>
           <option value="150000">
            150 000
           </option>
          </select>
         </div>
         <!-- Select Input / End -->
        </div>
        <!-- Max Price -->
        <div class="col-md-3">
         <!-- Select Input -->
         <div class="select-input disabled-first-option">
          <input  placeholder="Max Price" name="max_price_1" data-unit="₦" type="text"/>
          <select name="max_price_2">
            <option value="">
             Min Price
           </option value="1000">
            <option>
             1 000
            </option>
            <option value="2000">
             2 000
            </option>
            <option value="3000">
             3 000
            </option>
            <option value="4000">
             4 000
            </option>
            <option value="5000">
             5 000
            </option>
            <option value="100000">
             10 000
            </option>
            <option value="15000">
             15 000
            </option>
            <option value="20000">
             20 000
            </option>
            <option value="30000">
             30 000
            </option>
            <option value="40000">
             40 000
            </option>
            <option value="500000">
             50 000
            </option>
            <option value="60000">
             60 000
            </option>
            <option value="70000">
             70 000
            </option>
            <option value="80000">
             80 000
            </option>
            <option value="90000">
             90 000
            </option>
            <option value="100000">
             100 000
            </option>
            <option value="110000">
             110 000
            </option>
            <option value="1200000">
             120 000
            </option>
            <option value="130000">
             130 000
            </option>
            <option value="140000">
             140 000
            </option>
            <option value="150000">
             150 000
            </option>
          </select>
         </div>
         <!-- Select Input / End -->
        </div>
       </div>
       <!-- Row With Forms / End -->
       <!-- More Search Options -->
       <a class="more-search-options-trigger margin-top-10" data-close-title="Less Options" data-open-title="More Options" href="#">
       </a>
       <div class="more-search-options relative">
        <div class="more-search-options-container">
         <!-- Row With Forms -->
         <div class="row with-forms">
          <!-- Age of Home -->
          <div class="col-md-3">
           <select class="chosen-select-no-single" name="building_age">
            <option label="blank">
            </option>
            <option value="">
             Age of Home (Any)
            </option>
            <option value="1">
             0 - 1 Years
            </option>
            <option value="5">
             0 - 5 Years
            </option>
            <option value="10">
             0 - 10 Years
            </option>
            <option value="20">
             0 - 20 Years
            </option>
            <option value="50">
             0 - 50 Years
            </option>
            <option value="50">
             50 + Years
            </option>
           </select>
          </div>
          <!-- Rooms Area -->
          <div class="col-md-3">
           <select class="chosen-select-no-single" name="rooms">
            <option label="blank">
            </option>
            <option value="">
             Rooms (Any)
            </option>
            <option value="1">
             1
            </option>
            <option value="2">
             2
            </option>
            <option value="3">
             3
            </option>
            <option value="4">
             4
            </option>
            <option value="5">
             5
            </option>
           </select>
          </div>
          <!-- Min Area -->
          <div class="col-md-3">
           <select class="chosen-select-no-single" name="bedrooms">
            <option label="blank">
            </option>
            <option value="">
             Beds (Any)
            </option>
            <option value="1">
             1
            </option>
            <option value="2">
             2
            </option>
            <option value="3">
             3
            </option>
            <option value="4">
             4
            </option>
            <option value="5">
             5
            </option>
           </select>
          </div>
          <!-- Max Area -->
          <div class="col-md-3">
           <select class="chosen-select-no-single" name="bathrooms">
            <option label="blank">
            </option>
            <option value="">
             Baths (Any)
            </option>
            <option value="1">
             1
            </option>
            <option value="2">
             2
            </option>
            <option value="3">
             3
            </option>
            <option value="4">
             4
            </option>
            <option value="5">
             5
            </option>
           </select>
          </div>
         </div>
         <!-- Row With Forms / End -->
         <!-- Checkboxes -->

         <!-- Checkboxes / End -->
        </div>
       </div>
       <!-- More Search Options / End -->
      </div>
      <!-- Box / End -->
     </div>
    </div>
  </form>
   </div>
  </section>
  <!-- Content
================================================== -->
  <div class="container">
   <div class="row fullwidth-layout">
    <div class="col-md-12">
     <!-- Sorting / Layout Switcher -->
     <div class="row margin-bottom-15">
      <div class="col-md-6">
       <!-- Sort by -->
       <div class="sort-by">
        <label>
         Sort by:
        </label>
        <div class="sort-by-select">
         <select class="chosen-select-no-single" data-placeholder="Default order">
          <option>
           Default Order
          </option>
          <option>
           Price Low to High
          </option>
          <option>
           Price High to Low
          </option>
          <option>
           Newest Properties
          </option>
          <option>
           Oldest Properties
          </option>
         </select>
        </div>
       </div>
      </div>
      <div class="col-md-6">
       <!-- Layout Switcher -->
       <div class="layout-switcher">
        <a class="list" href="#">
         <i class="fa fa-th-list">
         </i>
        </a>
        <a class="grid" href="#">
         <i class="fa fa-th-large">
         </i>
        </a>
        <a class="grid-three" href="#">
         <i class="fa fa-th">
         </i>
        </a>
       </div>
      </div>
     </div>
     <!-- Listings -->
     <div class="listings-container list-layout">
      <!-- Listing Item -->
      {% if search %}
      {% for item in search %}
      <div class="listing-item">
       <a class="listing-img-container" href="single-property-page-1.html">
        <div class="listing-badges">
         <span class="featured">
          Featured
         </span>
         <span>
          for {{item.sale_type}}
         </span>
        </div>
        <div class="listing-img-content">
         <span class="listing-price">
          ₦{{item.price}}
          <i>
           ₦{{item.price_per_unit}}/sq m
          </i>
         </span>
         <form method="GET">
           <input name="third_check"  type="hidden" value="three" />
           <input name="title"  type="hidden" value="{{item.title}}" />
           <input name="address"  type="hidden" value="{{item.address}}" />
           <input name="date"  type="hidden" value="{{item.date}}" />
           <input name="category"  type="hidden" value="{{item.category}}" />
           <input name="sale_type"  type="hidden" value="{{item.sale_type}}" />
           <input name="price"  type="hidden" value="{{item.price}}" />
           <input name="price_per_unit"  type="hidden" value="{{item.price_per_unit}}" />
           {% for i in item.image_1.all %}
           {% if forloop.first %}
           <input name="image"  type="hidden" value="{% get_media_prefix %}{{i.image}}" />
           {% endif %}
           {% endfor %}
           <input name="area"  type="hidden" value="{{item.area}}" />
           <input name="rooms"  type="hidden" value="{{item.rooms}}" />
           <input name="bedrooms"  type="hidden" value="{{item.bedrooms}}" />
           <input name="bathrooms"  type="hidden" value="{{item.bathrooms}}" />
           <input name="features"  type="hidden" value="{{item.features}}" />
           <input name="building_age"  type="hidden" value="{{item.building_age}}" />
           <input name="parking"  type="hidden" value="{{item.parking}}" />
           <input name="cooling"  type="hidden" value="{{item.cooling}}" />
           <input name="heating"  type="hidden" value="{{item.heating}}" />
           <input name="sewer"  type="hidden" value="{{item.sewer}}" />
           <input name="water"  type="hidden" value="{{item.water}}" />
           <input name="exercise_room"  type="hidden" value="{{item.exercise_room}}" />
           <input name="storage_room"  type="hidden" value="{{item.storage_room}}" />
           <button class="fa fa-star ml-auto"  type="submit">
           </button>
         </form>
         <form method="GET">
           <input name="second_check"  type="hidden" value="two" />
           <input name="title"  type="hidden" value="{{item.title}}" />
           <input name="address"  type="hidden" value="{{item.address}}" />
           <input name="date"  type="hidden" value="{{item.date}}" />
           <input name="category"  type="hidden" value="{{item.category}}" />
           <input name="sale_type"  type="hidden" value="{{item.sale_type}}" />
           <input name="price"  type="hidden" value="{{item.price}}" />
           <input name="price_per_unit"  type="hidden" value="{{item.price_per_unit}}" />
           {% for i in item.image_1.all %}
           {% if forloop.first %}
           <input name="image"  type="hidden" value="{% get_media_prefix %}{{i.image}}" />
           {% endif %}
           {% endfor %}
           <input name="area"  type="hidden" value="{{item.area}}" />
           <input name="rooms"  type="hidden" value="{{item.rooms}}" />
           <input name="bedrooms"  type="hidden" value="{{item.bedrooms}}" />
           <input name="bathrooms"  type="hidden" value="{{item.bathrooms}}" />
           <input name="features"  type="hidden" value="{{item.features}}" />
           <input name="building_age"  type="hidden" value="{{item.building_age}}" />
           <input name="parking"  type="hidden" value="{{item.parking}}" />
           <input name="cooling"  type="hidden" value="{{item.cooling}}" />
           <input name="heating"  type="hidden" value="{{item.heating}}" />
           <input name="sewer"  type="hidden" value="{{item.sewer}}" />
           <input name="water"  type="hidden" value="{{item.water}}" />
           <input name="exercise_room"  type="hidden" value="{{item.exercise_room}}" />
           <input name="storage_room"  type="hidden" value="{{item.storage_room}}" />
         <button class="compare-button" type="submit">
         </button>
         </form>
        </div>
        <div class="listing-carousel">
          {% for i in item.image_1.all %}
          <div>
          <img alt="" src="{% get_media_prefix %}{{i.image}}"/>
          </div>
          {% endfor %}
        </div>
       </a>
       <div class="listing-content">
        <div class="listing-title">
         <h4>
          <a href="single-property-page-1.html">
          {{item.title}}
          </a>
         </h4>
         <a class="listing-address popup-gmaps" href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
          <i class="fa fa-map-marker">
          </i>
          {{item.address}}
         </a>
         <a class="details button border" href="single-property-page-1.html">
          Details
         </a>
        </div>
        <ul class="listing-details">
         <li>
          {{item.area}}
         </li>
         <li>
          {{item.bedrooms}} Bedroom
         </li>
         <li>
          {{item.rooms}} Rooms
         </li>
         <li>
          {{item.bathrooms}} Bathroom
         </li>
        </ul>
        <div class="listing-footer">
         <a href="#">
          <i class="fa fa-user">
          </i>
          {{item.creator}}
         </a>
         <span>
          <i class="fa fa-calendar-o">
          </i>
          {{item.date}}
         </span>
        </div>
       </div>
      </div>
      {% endfor %}
      {% else %}
      <center><h2>No results found</h2></center>
      {% endif %}
      <!-- Listing Item / End -->
     </div>
     <!-- Listings Container / End -->
     <div class="clearfix">
     </div>
     <!-- Pagination -->
     <div class="pagination-container">
      <nav class="pagination">
       <ul>
         <li>
          <a class="current-page" href=""?page=1"">
           {{ page_obj.number }}
          </a>
         </li>
         of
        <li>
         <a  href=""?page=1"">
          1
         </a>
        </li>
        {% if page_obj.has_next %}
        <li>
         <a href="?page={{ page_obj.next_page_number }}">
          2
         </a>
        </li>
        <li>
         <a href="?page={{ page_obj.paginator.num_pages }}">
          last
         </a>
        </li>
        {% endif %}
       </ul>
      </nav>
      {% if page_obj.has_next %}
      <nav class="pagination-next-prev">
       <ul>
        <li>
         <a class="prev" href="?page={{ page_obj.previous_page_number }}">
          Previous
         </a>
        </li>
        <li>
         <a class="next" href="?page={{ page_obj.next_page_number }}">
          Next
         </a>
        </li>
       </ul>
      </nav>
      {% endif %}
     </div>
     <!-- Pagination / End -->
    </div>
   </div>
  </div>
  <!-- Footer
================================================== -->
<div class="sticky-footer" id="footer">
 <!-- Main -->
 <div class="container">
   <div class="row">
    <div class="col-md-5 col-sm-6">
     <img alt="" class="footer-logo" src="{% static 'images/logo.png' %}"/>
     <br/>
     <br/>
     <p>
      "The house you looked at today and wanted to think about until tomorrow may be the same house someone looked at yesterday and will buy today" -Koko Adasi
     </p>
    </div>
    <div class="col-md-4 col-sm-6">
     <h4>
      Helpful Links
     </h4>
     <ul class="footer-links">
      <li>
       <a href="{% url 'APP:login_register' %}">
        Login
       </a>
      </li>
      <li>
       <a href="{% url 'APP:login_register' %}">
        Sign Up
       </a>
      </li>
      <li>
       <a href="{% url 'APP:submit_property' %}">
        Add Property
       </a>
      </li>
     </ul>
     <ul class="footer-links">
      <li>
       <a href="{% url 'APP:blog-list' %}">
        Blog
       </a>
      </li>
      <li>
       <a href="{% url 'APP:agencies-list' %}">
        Our Agencies
       </a>
      </li>
      <li>
       <a href="{% url 'APP:contact' %}">
        Contact
       </a>
      </li>
     </ul>
     <div class="clearfix">
     </div>
    </div>
    <div class="col-md-3 col-sm-12">
     <h4>
      Contact Us
     </h4>
     <div class="text-widget">
      <span>
       Monrovia Street Wuse 2, Abuja Nigeria
      </span>
      <br/>
      Phone:
      <span>
       +(234) 805 882 775, +(234) 905 2213 706
      </span>
      <br/>
      E-Mail:
      <span>
       <a href="#">
        sales@afriproperty.com.ng
       </a>
      </span>
      <br/>
     </div>
     <ul class="social-icons margin-top-20">
      <li>
       <a class="facebook" href="#">
        <i class="icon-facebook">
        </i>
       </a>
      </li>
      <li>
       <a class="twitter" href="#">
        <i class="icon-twitter">
        </i>
       </a>
      </li>
      <li>
       <a class="gplus" href="#">
        <i class="icon-gplus">
        </i>
       </a>
      </li>
      <li>
       <a class="vimeo" href="#">
        <i class="icon-vimeo">
        </i>
       </a>
      </li>
     </ul>
    </div>
   </div>
  <!-- Copyright -->
  <div class="row">
   <div class="col-md-12">
    <div class="copyrights">
     <a href=" https://24hubs.com">powered by 24 Hubs©</a> 2020 Afriproperty. All Rights Reserved.
    </div>
   </div>
  </div>
 </div>
</div>
<!-- Footer / End -->
<!-- Back To Top Button -->
<div id="backtotop">
 <a href="#">
 </a>
</div>
<!-- Scripts
================================================== -->
<script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/chosen.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/magnific-popup.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/rangeSlider.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/sticky-kit.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/slick.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/masonry.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/mmenu.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/tooltips.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/custom.js' %}" type="text/javascript">
</script>
<!-- Google Autocomplete -->
<script>
 function initAutocomplete() {
  var input = document.getElementById('autocomplete-input');
  var autocomplete = new google.maps.places.Autocomplete(input);

  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initAutocomplete">
</script>
</div>
<!-- Wrapper / End -->
</body>
