{% load static %}

<!DOCTYPE html>
<head>
 <!-- Basic Page Needs
================================================== -->
 <title>
  Afriproperty Connect
 </title>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
 <!-- CSS
================================================== -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
</head>
<body>
 <!-- Wrapper -->
 <div id="wrapper">
  <!-- Compare Properties Widget
================================================== -->
  <div class="compare-slide-menu">
   <div class="csm-trigger">
   </div>
   <div class="csm-content">
    <h4>
     Compare Properties
     <div class="csm-mobile-trigger">
     </div>
    </h4>
    <div class="csm-properties">
     <!-- Property -->
     {% for item in compare %}
     <div class="listing-item compact">
      <a class="listing-img-container" href="single-property-page-2.html">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         {{item.sale_type}}
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         {{item.title}}
         <i>
          ${{item.price}}
         </i>
        </span>
       </div>
       <img alt="" src="{{item.image_1.url}}"/>
      </a>
     </div>
     {% endfor %}
     <!-- Property -->
     <!-- Property -->
    </div>
    <div class="csm-buttons">
     <a class="button" href="compare-properties.html">
      Compare
     </a>
     <a class="button reset" href="#">
      Reset
     </a>
    </div>
   </div>
  </div>
  <!-- Compare Properties Widget / End -->
  <!-- Header Container
================================================== -->
  <header id="header-container">
   <!-- Topbar -->
   <div id="top-bar">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Top bar -->
      <ul class="top-bar-menu">
       <li>
        <i class="fa fa-phone">
        </i>
        (123) 123-456
       </li>
       <li>
        <i class="fa fa-envelope">
        </i>
        <a href="#">
         office@example.com
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
     <!-- Left Side Content -->
     <div class="right-side">
      <!-- Social Icons -->
      <ul class="social-icons">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="pinterest" href="#">
         <i class="icon-pinterest">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
    </div>
   </div>
   <div class="clearfix">
   </div>
   <!-- Topbar / End -->
   <!-- Header -->
   <div id="header">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Logo -->
      <div id="logo">
       <a href="index.html">
        <img alt="" src="{% static 'images/logo.png' %}"/>
       </a>
      </div>
      <!-- Mobile Navigation -->
      <div class="mmenu-trigger">
       <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
         <span class="hamburger-inner">
         </span>
        </span>
       </button>
      </div>
      <!-- Main Navigation -->
      <nav class="style-1" id="navigation">
       <ul id="responsive">
        <li>
         <a href="#">
          Features
         </a>
         <ul>
          <li>
           <a href="#">
            My Account
           </a>
           <ul>
            <li>
             <a href="my-profile.html">
              My Profile
             </a>
            </li>
            <li>
             <a href="my-bookmarks.html">
              Bookmarked Listings
             </a>
            </li>
            <li>
             <a href="my-properties.html">
              My Properties
             </a>
            </li>
            <li>
             <a href="change-password.html">
              Change Password
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="#">
            Agencies &amp; Agents
           </a>
           <ul>
            <li>
             <a href="agencies-list.html">
              Agencies List
             </a>
            </li>
            <li>
             <a href="agency-page.html">
              Agency Page
             </a>
            </li>
            <li>
             <a href="agents-list.html">
              Agents List
             </a>
            </li>
            <li>
             <a href="agent-page.html">
              Agent Page
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="compare-properties.html">
            Compare Properties
           </a>
          </li>
          <li>
           <a href="submit-property.html">
            Submit Property
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#">
          Pages
         </a>
         <ul>
          <li>
           <a href="blog.html">
            Blog
           </a>
           <ul>
            <li>
             <a href="blog.html">
              Blog
             </a>
            </li>
            <li>
             <a href="blog-post.html">
              Blog Post
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="contact.html">
            Contact
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </nav>
      <div class="clearfix">
      </div>
      <!-- Main Navigation / End -->
     </div>
     <!-- Left Side Content / End -->
     <!-- Right Side Content / End -->
     <div class="right-side">
      <!-- Header Widget -->
      <div class="header-widget">
       <a class="sign-in" href="login-register.html">
        <i class="fa fa-user">
        </i>
        Log In / Register
       </a>
       <a class="button border" href="submit-property.html">
        Submit Property
       </a>
      </div>
      <!-- Header Widget / End -->
     </div>
     <!-- Right Side Content / End -->
    </div>
   </div>
   <!-- Header / End -->
  </header>
  <div class="clearfix">
  </div>
  <!-- Header Container / End -->
  <!-- Titlebar
================================================== -->
  <div id="titlebar">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <h2>
       Log In &amp; Register
      </h2>
      <!-- Breadcrumbs -->
      <nav id="breadcrumbs">
       <ul>
        <li>
         <a href="#">
          Home
         </a>
        </li>
        <li>
         Log In &amp; Register
        </li>
       </ul>
      </nav>
     </div>
    </div>
   </div>
  </div>
  <!-- Contact
================================================== -->
  <!-- Container -->
  <div class="container">
   <div class="row">
    <div class="col-md-4 col-md-offset-4">
     <!--Tab -->
     <div class="my-account style-1 margin-top-5 margin-bottom-40">
      <ul class="tabs-nav">
       <li class="">
        <a href="#tab1">
         Log In
        </a>
       </li>
       <li>
        <a href="#tab2">
         Register
        </a>
       </li>
      </ul>
      <div class="tabs-container alt">
       <!-- Login -->
       <div class="tab-content" id="tab1" style="display: none;">
        <form class="login" method="POST">
          {% csrf_token %}
          <input class="mb-0 form-control" id="name" name="check" placeholder="Enter your full name" value="False" type="hidden"/>
         <p class="form-row form-row-wide">
          <label for="username">
           Username:
           <i class="im im-icon-Male">
           </i>
           <input class="input-text" id="username" name="username" type="text" value=""/>
          </label>
         </p>
         <p class="form-row form-row-wide">
          <label for="password">
           Password:
           <i class="im im-icon-Lock-2">
           </i>
           <input class="input-text" id="password" name="password" type="password"/>
          </label>
         </p>
         <p class="form-row">
          <input class="button border margin-top-10" name="login" type="submit" value="Login"/>
          <label class="rememberme" for="rememberme">
           <input id="rememberme" name="rememberme" type="checkbox" value="forever"/>
           Remember Me
          </label>
         </p>
         <p class="lost_password">
          <a href="#">
           Lost Your Password?
          </a>
         </p>
        </form>
       </div>
       <!-- Register -->
       <div class="tab-content" id="tab2" style="display: none;">
        <form class="register" method="POST">
          {% csrf_token %}
          <input  id="name" name="check" placeholder="Enter your full name" value="True" type="hidden"/>
         <p class="form-row form-row-wide">
          <label for="username2">
           Username:
           <i class="im im-icon-Male">
           </i>
           <input class="input-text" id="username2" name="username" type="text" value=""/>
          </label>
         </p>
         <p class="form-row form-row-wide">
          <label for="email2">
           Email Address:
           <i class="im im-icon-Mail">
           </i>
           <input class="input-text" id="email2" name="email" type="text" value=""/>
          </label>
         </p>
         <p class="form-row form-row-wide">
          <label for="password1">
           Password:
           <i class="im im-icon-Lock-2">
           </i>
           <input class="input-text" id="password1" name="password1" type="password"/>
          </label>
         </p>
         <p class="form-row form-row-wide">
          <label for="password2">
           Repeat Password:
           <i class="im im-icon-Lock-2">
           </i>
           <input class="input-text" id="password2" name="password2" type="password"/>
          </label>
         </p>
         <p class="form-row">
          <input class="button border fw margin-top-10" name="register" type="submit" value="Register"/>
         </p>
        </form>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Container / End -->
  <!-- Footer
================================================== -->
  <div class="margin-top-55">
  </div>
  <div id="footer">
   <!-- Main -->
   <div class="container">
    <div class="row">
     <div class="col-md-5 col-sm-6">
      <img alt="" class="footer-logo" src="{% static 'images/logo.png' %}"/>
      <br/>
      <br/>
      <p>
       Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.
      </p>
     </div>
     <div class="col-md-4 col-sm-6">
      <h4>
       Helpful Links
      </h4>
      <ul class="footer-links">
       <li>
        <a href="#">
         Login
        </a>
       </li>
       <li>
        <a href="#">
         Sign Up
        </a>
       </li>
       <li>
        <a href="#">
         My Account
        </a>
       </li>
       <li>
        <a href="#">
         Add Property
        </a>
       </li>
       <li>
        <a href="#">
         Pricing
        </a>
       </li>
       <li>
        <a href="#">
         Privacy Policy
        </a>
       </li>
      </ul>
      <ul class="footer-links">
       <li>
        <a href="#">
         FAQ
        </a>
       </li>
       <li>
        <a href="#">
         Blog
        </a>
       </li>
       <li>
        <a href="#">
         Our Agents
        </a>
       </li>
       <li>
        <a href="#">
         How It Works
        </a>
       </li>
       <li>
        <a href="#">
         Contact
        </a>
       </li>
      </ul>
      <div class="clearfix">
      </div>
     </div>
     <div class="col-md-3 col-sm-12">
      <h4>
       Contact Us
      </h4>
      <div class="text-widget">
       <span>
        12345 Little Lonsdale St, Melbourne
       </span>
       <br/>
       Phone:
       <span>
        (123) 123-456
       </span>
       <br/>
       E-Mail:
       <span>
        <a href="#">
         office@example.com
        </a>
       </span>
       <br/>
      </div>
      <ul class="social-icons margin-top-20">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="vimeo" href="#">
         <i class="icon-vimeo">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <!-- Copyright -->
    <div class="row">
     <div class="col-md-12">
      <div class="copyrights">
       Â© 2016 Findeo. All Rights Reserved.
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Footer / End -->
  <!-- Back To Top Button -->
  <div id="backtotop">
   <a href="#">
   </a>
  </div>
  <!-- Scripts
================================================== -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/chosen.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/magnific-popup.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/rangeSlider.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/sticky-kit.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/slick.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/masonry.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/mmenu.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/tooltips.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/custom.js' %}" type="text/javascript">
  </script>
 </div>
 <!-- Wrapper / End -->
</body>
