{% load static %}

<!DOCTYPE html>
<head>
 <!-- Basic Page Needs
================================================== -->
 <title>
  Afriproperty Connect
 </title>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
 <!-- CSS
================================================== -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
</head>
<body>
 <!-- Wrapper -->
 <div id="wrapper">
  <!-- Compare Properties Widget
================================================== -->
  <div class="compare-slide-menu">
   <div class="csm-trigger">
   </div>
   <div class="csm-content">
    <h4>
     Compare Properties
     <div class="csm-mobile-trigger">
     </div>
    </h4>
    <div class="csm-properties">
     <!-- Property -->
     {% for item in compare %}
     <div class="listing-item compact">
      <a class="listing-img-container" href="{{item.get_absolute_url}}">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         {{item.sale_type}}
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         {{item.title}}
         <i>
          ₦{{item.price}}
         </i>
        </span>
       </div>
       <img alt="" src="{{item.image_1.url}}"/>
      </a>
     </div>
     {% endfor %}
     {% if user.is_authenticated %}
     {% else %}
     <a class="sign-in" href="{% url 'APP:login_register' %}">
      <i class="fa fa-user">
      </i>
      Log In / Register To Compare
     </a>
     {% endif %}
     <!-- Property -->
     <!-- Property -->
    </div>
    {% if user.is_authenticated %}
    <div class="csm-buttons">
     <a class="button" href="{% url 'APP:compare' %}">
      Compare
     </a>
     <form method="GET">
      <input name="clear" value="True" type="hidden">
     <button class="button reset" type="submit">
      Reset
    </button>
   </form>
    </div>
    {% endif %}
   </div>
  </div>
  <!-- Compare Properties Widget / End -->
  <!-- Header Container
================================================== -->
  <header id="header-container">
   <!-- Topbar -->
   <div id="top-bar">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Top bar -->
      <ul class="top-bar-menu">
       <li>
        <i class="fa fa-phone">
        </i>
        +(234) 805 882 775, +(234) 905 2213 706
       </li>
       <li>
        <i class="fa fa-envelope">
        </i>
        <a href="#">
         sales@afriproperty.com.ng
        </a>
       </li>
       <li>
        <a href="#">
         About
        </a>
       </li>
       <li>
        <a href="{% url 'APP:contact'%}">
         Contact
        </a>
       </li>
       <li>
         <div class="top-bar-dropdown">
           <span>Useful Links</span>
           <ul class="options">
             <li><div class="arrow"></div></li>
             <li><a href="{% url 'APP:agents' %}">Agents</a></li>
             <li><a href="{% url 'APP:agencies-list' %}">Agencies</a></li>
             <li><a href="{% url 'APP:developer-list' %}">Developers</a></li>
             <li><a href="{% url 'APP:partner-list' %}">Partners</a></li>
             <li><a href="{% url 'APP:blog-list' %}">Property Blog</a></li>
           </ul>
         </div>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
     <!-- Left Side Content -->
     <div class="right-side">
      <!-- Social Icons -->
      <ul class="social-icons">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="pinterest" href="#">
         <i class="icon-pinterest">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
    </div>
   </div>
   <div class="clearfix">
   </div>
   <!-- Topbar / End -->
   <!-- Header -->
   <div id="header">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Logo -->
      <div id="logo">
       <a href="{% url 'APP:index' %}">
        <img alt="" src="{% static 'images/logo.png' %}"/>
       </a>
      </div>
      <!-- Mobile Navigation -->
      <div class="mmenu-trigger">
       <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
         <span class="hamburger-inner">
         </span>
        </span>
       </button>
      </div>
      <!-- Main Navigation -->
      <nav class="style-1" id="navigation">
       <ul id="responsive">
        <li>
         <a href="{% url 'APP:index' %}">
          Home
         </a>
        </li>
        <li>
          <input type="hidden" id="sale" value="sale">
         <a onclick="showsale()">
          For Sale
         </a>
        </li>
        <li>
          <input type="hidden" id="sale2" value="rent">
         <a onclick="showsale2()">
          For Rent
         </a>
        </li>
        <li><a href="#">More</a>
          <ul>
            <li>
              <input type="hidden" id="sale3" value="shortlet">
             <a onclick="showsale3()">
              Shortlet
             </a>
            </li>
            <li>
              <input type="hidden" id="sale4" value="hotel">
             <a onclick="showsale4()">
              Hotels
             </a>
            </li>
            <li>
              <input type="hidden" id="sale11" value="park">
             <a onclick="showsale11()">
              Park and Recreation
             </a>
            </li>
            <li>
              <input type="hidden" id="sale10" value="travels">
             <a onclick="showsale10()">
              Travels and Tours Listing
             </a>
            </li>
            <li>
             <a href="{% url 'APP:pricing' %}">
              Products and Services
             </a>
            </li>
            <li>
             <a href="{% url 'APP:property_video' %}">
              Property Videos
             </a>
            </li>
            <li>
             <a href="{% url 'APP:multi_component' %}">
            Multilevel Component
             </a>
            </li>
            <li>
             <a href="{% url 'APP:valuation' %}">
              Property Valuation
             </a>
            </li>
          </ul>
        </li>
       </ul>
      </nav>
      <div class="clearfix">
      </div>
      <!-- Main Navigation / End -->
     </div>
     <!-- Left Side Content / End -->
     <!-- Right Side Content / End -->
     <div class="right-side">
       {% if user.is_authenticated %}
       <a class="sign-in" onclick="window.location.href='{% url 'APP:logout' %}'">
        <i class="fa fa-user">
        </i>
        Logout
       </a>
       <div class="user-menu">
        <div class="user-name">
         <span>
           {% if profile.image %}
           <img alt="" src="{{profile.image.url}}"/>
           {% else %}
          <img alt="" src="{% static 'images/agent-03.jpg' %}"/>
          {% endif %}
         </span>
         Hi, {{user}}!
        </div>
        <ul>
         <li>
          <a href="{% url 'APP:profile' %}">
           <i class="sl sl-icon-user">
           </i>
           My Profile
          </a>
         </li>
         <li>
          <a href="{% url 'APP:bookmarks' %}">
           <i class="sl sl-icon-star">
           </i>
           Bookmarks
          </a>
         </li>
         <li>
          <a href="{% url 'APP:properties' %}">
           <i class="sl sl-icon-docs">
           </i>
           My Properties
          </a>
         </li>
         <li>
          <a href="{% url 'APP:logout' %}">
           <i class="sl sl-icon-power">
           </i>
           Log Out
          </a>
         </li>
        </ul>
       </div>
       {% else %}
      <a class="sign-in" href="{% url 'APP:login_register' %}">
       <i class="fa fa-user">
       </i>
       Log In / Register
      </a>
      {% endif %}
      <!-- Header Widget -->
      <div class="header-widget">
       <!-- User Menu -->



       <a class="button border" href="{% url 'APP:submit_property' %}">
        Submit Property
       </a>

      </div>

      <!-- Header Widget / End -->
     </div>
     <!-- Right Side Content / End -->
    </div>
   </div>
   <!-- Header / End -->
  </header>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function showOutput () {
  var value=document.getElementById("myInput").value;
  var value_2=document.getElementById("myInput2").value;
  var value_3=document.getElementById("myInput3").value;
  if (document.getElementById("myInput7").checked == true){
    var value_4=document.getElementById("myInput7").value;
  } else if (document.getElementById("myInput5").checked == true){
    var value_4=document.getElementById("myInput5").value;
  } else if (document.getElementById("myInput6").checked == true){
    var value_4=document.getElementById("myInput6").value;
  }else if (document.getElementById("myInput4").checked == true){
    var value_4=document.getElementById("myInput4").value;
  }
   else {
    var value_4="e";
  }

  var paid="one";
  var queryString = "?first_check=" +paid  + "&search=" + value + "&category=" + value_2 + "&max_price=" + value_3 + "&tab=" + value_4;
  window.location.href="listing.html" + queryString;
}

function showcat () {
  var value=document.getElementById("myCat").value;

  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}
function showcat2 () {
  var value=document.getElementById("myCat2").value;


  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}

function showcat3 () {
  var value=document.getElementById("myCat3").value;


  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}

function showcat4 () {
  var value=document.getElementById("myCat4").value;


  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}
function showpopular () {
  var value=document.getElementById("mypop").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}
function showpopular2 () {
  var value=document.getElementById("mypop2").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}
function showpopular3 () {
  var value=document.getElementById("mypop3").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}

function showpopular4 () {
  var value=document.getElementById("mypop4").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}
function showsale () {
  var value=document.getElementById("sale").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale2 () {
  var value=document.getElementById("sale2").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale3 () {
  var value=document.getElementById("sale3").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale4 () {
  var value=document.getElementById("sale4").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale11 () {
  var value=document.getElementById("sale11").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale10 () {
  var value=document.getElementById("sale10").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
</script>
  <div class="clearfix">
  </div>
  <!-- Header Container / End -->
  <!-- Titlebar
================================================== -->
  <div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="#333333" data-color-opacity="0.7" data-img-height="505" data-img-width="800">
   <div id="titlebar">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <h2>
      Multi-Level Component
       </h2>
       <!-- Breadcrumbs -->
       <nav id="breadcrumbs">
        <ul>
         <li>
          <a href="#">
           Home
          </a>
         </li>
         <li>
           Multi-Level Component
         </li>
        </ul>
       </nav>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Content
================================================== -->

  <div class="container">
   <div class="row sticky-wrapper">
    <div class="col-md-8">
      <div class="card">
  <div class="card-body">
    The Information displayed about this property comprises of property advertisement. Nigeria Property Centre makes no waranty as to the accuracy or completeness of the advertisement
    or any linked or associated information, and Nigeria Property Center has no control over the content. This property listing does not constitute property particulars. The Information
     is provided and maintained by <b>Hausworks Limited</b>.Nigeria Property Centre shall not in any way be held liable for the actions of any agent and/or property owner/landlord on or off this website.
  </div>
</div>
<div class="main-search-input margin-bottom-35">
</div>
     <!-- Main Search Input -->
     <form method="GET">
     <div class="main-search-input margin-bottom-35">
       <input name="first_check" type="hidden" value="one"/>
      <input class="ico-01" placeholder="Enter address e.g. street, city and state or zip" name="search" type="text" value=""/>
      <button class="button" type="submit">
       Search
      </button>
     </div>
   </form>
     <!-- Sorting / Layout Switcher -->
     <div class="row margin-bottom-15">
      <div class="col-md-6">
       <!-- Sort by -->
       <div class="sort-by">
        <label>
         Sort by:
        </label>
        <div class="sort-by-select">
         <select class="chosen-select-no-single" data-placeholder="Default order">
          <option>
           Default Order
          </option>
          <option>
           Price Low to High
          </option>
          <option>
           Price High to Low
          </option>
          <option>
           Newest Properties
          </option>
          <option>
           Oldest Properties
          </option>
         </select>
        </div>
       </div>
      </div>
      <div class="col-md-6">
       <!-- Layout Switcher -->
       <div class="layout-switcher">
        <a class="grid" href="#">
         <i class="fa fa-th-large">
         </i>
        </a>
        <a class="list" href="#">
         <i class="fa fa-th-list">
         </i>
        </a>
       </div>
      </div>
     </div>
     <!-- Listings -->
     <div class="listings-container grid-layout">
      <!-- Listing Item -->
      <!-- Listing Item / End -->
      <!-- Listing Item -->
      {% if search %}
      {% for item in search %}
        {% if item.features %}
      <div class="listing-item">
       <a class="listing-img-container" href="{{item.get_absolute_url}}">
        <div class="listing-badges">
         <span class="featured">
          Featured
         </span>
         <span>
          for {{item.sale_type}}
         </span>
        </div>
        <div class="listing-img-content">
         <span class="listing-price">
          ₦{{item.price}}
          <i>
           ₦{{item.price_per_unit}}/sq m
          </i>
         </span>
         <form method="GET">
           <input name="third_check"  type="hidden" value="three" />
           <input name="title"  type="hidden" value="{{item.title}}" />
           <input name="address"  type="hidden" value="{{item.address}}" />
           <input name="date"  type="hidden" value="{{item.date}}" />
           <input name="category"  type="hidden" value="{{item.category}}" />
           <input name="sale_type"  type="hidden" value="{{item.sale_type}}" />
           <input name="price"  type="hidden" value="{{item.price}}" />
           <input name="price_per_unit"  type="hidden" value="{{item.price_per_unit}}" />
           {% for i in item.image_1.all %}
           {% if forloop.first %}
           <input name="image"  type="hidden" value="{% get_media_prefix %}{{i.image}}" />
           {% endif %}
           {% endfor %}
           <input name="area"  type="hidden" value="{{item.area}}" />
           <input name="rooms"  type="hidden" value="{{item.rooms}}" />
           <input name="bedrooms"  type="hidden" value="{{item.bedrooms}}" />
           <input name="bathrooms"  type="hidden" value="{{item.bathrooms}}" />
           <input name="features"  type="hidden" value="{{item.features}}" />
           <input name="building_age"  type="hidden" value="{{item.building_age}}" />
           <input name="parking"  type="hidden" value="{{item.parking}}" />
           <input name="cooling"  type="hidden" value="{{item.cooling}}" />
           <input name="heating"  type="hidden" value="{{item.heating}}" />
           <input name="sewer"  type="hidden" value="{{item.sewer}}" />
           <input name="water"  type="hidden" value="{{item.water}}" />
           <input name="exercise_room"  type="hidden" value="{{item.exercise_room}}" />
           <input name="storage_room"  type="hidden" value="{{item.storage_room}}" />
           <button class="fa fa-star ml-auto"  type="submit">
           </button>
         </form>
         <form method="GET">
           <input name="second_check"  type="hidden" value="two" />
           <input name="title"  type="hidden" value="{{item.title}}" />
           <input name="address"  type="hidden" value="{{item.address}}" />
           <input name="date"  type="hidden" value="{{item.date}}" />
           <input name="category"  type="hidden" value="{{item.category}}" />
           <input name="sale_type"  type="hidden" value="{{item.sale_type}}" />
           <input name="price"  type="hidden" value="{{item.price}}" />
           <input name="price_per_unit"  type="hidden" value="{{item.price_per_unit}}" />
           {% for i in item.image_1.all %}
           {% if forloop.first %}
           <input name="image"  type="hidden" value="{% get_media_prefix %}{{i.image}}" />
           {% endif %}
           {% endfor %}
           <input name="area"  type="hidden" value="{{item.area}}" />
           <input name="rooms"  type="hidden" value="{{item.rooms}}" />
           <input name="bedrooms"  type="hidden" value="{{item.bedrooms}}" />
           <input name="bathrooms"  type="hidden" value="{{item.bathrooms}}" />
           <input name="features"  type="hidden" value="{{item.features}}" />
           <input name="building_age"  type="hidden" value="{{item.building_age}}" />
           <input name="parking"  type="hidden" value="{{item.parking}}" />
           <input name="cooling"  type="hidden" value="{{item.cooling}}" />
           <input name="heating"  type="hidden" value="{{item.heating}}" />
           <input name="sewer"  type="hidden" value="{{item.sewer}}" />
           <input name="water"  type="hidden" value="{{item.water}}" />
           <input name="exercise_room"  type="hidden" value="{{item.exercise_room}}" />
           <input name="storage_room"  type="hidden" value="{{item.storage_room}}" />
         <button class="compare-button" type="submit">
         </button>
         </form>
        </div>
        <div class="listing-carousel">
          {% for i in item.image_1.all %}
          <div>
          <img alt="" src="{% get_media_prefix %}{{i.image}}"/>
          </div>
          {% endfor %}
        </div>
       </a>
       <div class="listing-content">
        <div class="listing-title">
         <h4>
          <a href="{{item.get_absolute_url}}">
          {{item.title}}
          </a>
         </h4>
         <a class="listing-address popup-gmaps" href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
          <i class="fa fa-map-marker">
          </i>
          {{item.address}}
         </a>
         <a class="details button border" href="{{item.get_absolute_url}}">
          Details
         </a>
        </div>
        <ul class="listing-details">
         <li>
          {{item.area}}/sq m
         </li>
         <li>
          {{item.bedrooms}} Bedroom
         </li>
         <li>
          {{item.rooms}} Rooms
         </li>
         <li>
          {{item.bathrooms}} Bathroom
         </li>
        </ul>
        <div class="listing-footer">
         <a href="#">
          <i class="fa fa-user">
          </i>
          {{item.creator}}
         </a>
         <span>
          <i class="fa fa-calendar-o">
          </i>
          {{item.date}}
         </span>
        </div>
       </div>
      </div>
      {% endif %}
      {% endfor %}
      {% else %}
      {% for item in popular %}
      {% if item.features %}
      <div class="listing-item">
       <a class="listing-img-container" href="{{item.get_absolute_url}}">
        <div class="listing-badges">
         <span class="featured">
          Featured
         </span>
         <span>
          for {{item.sale_type}}
         </span>
        </div>
        <div class="listing-img-content">
         <span class="listing-price">
          ₦{{item.price}}
          <i>
           ₦{{item.price_per_unit}}/sq m
          </i>
         </span>
         <form method="GET">
           <input name="third_check"  type="hidden" value="three" />
           <input name="title"  type="hidden" value="{{item.title}}" />
           <input name="address"  type="hidden" value="{{item.address}}" />
           <input name="date"  type="hidden" value="{{item.date}}" />
           <input name="category"  type="hidden" value="{{item.category}}" />
           <input name="sale_type"  type="hidden" value="{{item.sale_type}}" />
           <input name="price"  type="hidden" value="{{item.price}}" />
           <input name="price_per_unit"  type="hidden" value="{{item.price_per_unit}}" />
           {% for i in item.image_1.all %}
           {% if forloop.first %}
           <input name="image"  type="hidden" value="{% get_media_prefix %}{{i.image}}" />
           {% endif %}
           {% endfor %}
           <input name="area"  type="hidden" value="{{item.area}}" />
           <input name="rooms"  type="hidden" value="{{item.rooms}}" />
           <input name="bedrooms"  type="hidden" value="{{item.bedrooms}}" />
           <input name="bathrooms"  type="hidden" value="{{item.bathrooms}}" />
           <input name="features"  type="hidden" value="{{item.features}}" />
           <input name="building_age"  type="hidden" value="{{item.building_age}}" />
           <input name="parking"  type="hidden" value="{{item.parking}}" />
           <input name="cooling"  type="hidden" value="{{item.cooling}}" />
           <input name="heating"  type="hidden" value="{{item.heating}}" />
           <input name="sewer"  type="hidden" value="{{item.sewer}}" />
           <input name="water"  type="hidden" value="{{item.water}}" />
           <input name="exercise_room"  type="hidden" value="{{item.exercise_room}}" />
           <input name="storage_room"  type="hidden" value="{{item.storage_room}}" />
           <button class="fa fa-star ml-auto"  type="submit">
           </button>
         </form>
         <form method="GET">
           <input name="second_check"  type="hidden" value="two" />
           <input name="title"  type="hidden" value="{{item.title}}" />
           <input name="address"  type="hidden" value="{{item.address}}" />
           <input name="date"  type="hidden" value="{{item.date}}" />
           <input name="category"  type="hidden" value="{{item.category}}" />
           <input name="sale_type"  type="hidden" value="{{item.sale_type}}" />
           <input name="price"  type="hidden" value="{{item.price}}" />
           <input name="price_per_unit"  type="hidden" value="{{item.price_per_unit}}" />
           {% for i in item.image_1.all %}
           {% if forloop.first %}
           <input name="image"  type="hidden" value="{% get_media_prefix %}{{i.image}}" />
           {% endif %}
           {% endfor %}
           <input name="area"  type="hidden" value="{{item.area}}" />
           <input name="rooms"  type="hidden" value="{{item.rooms}}" />
           <input name="bedrooms"  type="hidden" value="{{item.bedrooms}}" />
           <input name="bathrooms"  type="hidden" value="{{item.bathrooms}}" />
           <input name="features"  type="hidden" value="{{item.features}}" />
           <input name="building_age"  type="hidden" value="{{item.building_age}}" />
           <input name="parking"  type="hidden" value="{{item.parking}}" />
           <input name="cooling"  type="hidden" value="{{item.cooling}}" />
           <input name="heating"  type="hidden" value="{{item.heating}}" />
           <input name="sewer"  type="hidden" value="{{item.sewer}}" />
           <input name="water"  type="hidden" value="{{item.water}}" />
           <input name="exercise_room"  type="hidden" value="{{item.exercise_room}}" />
           <input name="storage_room"  type="hidden" value="{{item.storage_room}}" />
         <button class="compare-button" type="submit">
         </button>
         </form>
        </div>
        <div class="listing-carousel">
          {% for i in item.image_1.all %}
          <div>
          <img alt="" src="{% get_media_prefix %}{{i.image}}"/>
          </div>
          {% endfor %}
        </div>
       </a>
       <div class="listing-content">
        <div class="listing-title">
         <h4>
          <a href="{{item.get_absolute_url}}">
          {{item.title}}
          </a>
         </h4>
         <a class="listing-address popup-gmaps" href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">
          <i class="fa fa-map-marker">
          </i>
          {{item.address}}
         </a>
         <a class="details button border" href="{{item.get_absolute_url}}">
          Details
         </a>
        </div>
        <ul class="listing-details">
         <li>
          {{item.area}}/sq m
         </li>
         <li>
          {{item.bedrooms}} Bedroom
         </li>
         <li>
          {{item.rooms}} Rooms
         </li>
         <li>
          {{item.bathrooms}} Bathroom
         </li>
        </ul>
        <div class="listing-footer">
         <a href="#">
          <i class="fa fa-user">
          </i>
          {{item.creator}}
         </a>
         <span>
          <i class="fa fa-calendar-o">
          </i>
          {{item.date}}
         </span>
        </div>
       </div>
      </div>
      {% else %}
      {% endif %}
      {% endfor %}
      {% endif %}
      <!-- Listing Item / End -->
     </div>
     <!-- Listings Container / End -->
     <!-- Pagination -->
     <div class="pagination-container">
      <nav class="pagination">
       <ul>
         <li>
          <a class="current-page" href=""?page=1"">
           {{ page_obj.number }}
          </a>
         </li>
         of
        <li>
         <a  href=""?page=1"">
          1
         </a>
        </li>
        {% if page_obj.has_next %}
        <li>
         <a href="?page={{ page_obj.next_page_number }}">
          2
         </a>
        </li>
        <li>
         <a href="?page={{ page_obj.paginator.num_pages }}">
          last
         </a>
        </li>
        {% endif %}
       </ul>
      </nav>
      {% if page_obj.has_next %}
      <nav class="pagination-next-prev">
       <ul>
        <li>
         <a class="prev" href="?page={{ page_obj.previous_page_number }}">
          Previous
         </a>
        </li>
        <li>
         <a class="next" href="?page={{ page_obj.next_page_number }}">
          Next
         </a>
        </li>
       </ul>
      </nav>
      {% endif %}
     </div>
     <!-- Pagination / End -->

    </div>
    <div class="col-md-4">
			<div class="sidebar sticky right">

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-35">Filter Options</h3>


					<!-- Row -->
          <form method="GET">
        <div class="row with-forms">
          <div class="col-md-12">
            <input id="filter" type="hidden" name="filter" value="True"/>
          <input id="search" class="ico-01"  placeholder="Enter address e.g. street, city and state or zip" name="search" type="text" value=""/>
        </div>
      </div>
					<div class="row with-forms">
						<!-- Status -->
						<div class="col-md-12">
							<select id=sale_type data-placeholder="Any Status" class="chosen-select-no-single" name="sale_type">
								<option value="">Any Status</option>
								<option value="sale">For Sale</option>
								<option value="rent">For Rent</option>
                <option value="hotel">Hotel</option>
                <option value="shortlet">Shortlet</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Type -->
						<div class="col-md-12">
							<select id="category" data-placeholder="Any Type" class="chosen-select-no-single" name="category">
								<option value="">Any Type</option>
								<option value="apartment">Apartments</option>
								<option value="house">Houses</option>
								<option value="commercial">Commercial</option>
								<option value="garage">Garages</option>
								<option value="lot">Lots</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- States -->
						<div class="col-md-12">
							<select id="state" data-placeholder="All States" class="chosen-select" name="state">
								<option>All States</option>
                <option value="" selected="selected">- Select -</option>
              <option value="Abuja FCT">Abuja FCT</option>
              <option value="Abia">Abia</option>
              <option value="Adamawa">Adamawa</option>
              <option value="Akwa Ibom">Akwa Ibom</option>
              <option value="Anambra">Anambra</option>
              <option value="Bauchi">Bauchi</option>
              <option value="Bayelsa">Bayelsa</option>
              <option value="Benue">Benue</option>
              <option value="Borno">Borno</option>
              <option value="Cross River">Cross River</option>
              <option value="Delta">Delta</option>
              <option value="Ebonyi">Ebonyi</option>
              <option value="Edo">Edo</option>
              <option value="Ekiti">Ekiti</option>
              <option value="Enugu">Enugu</option>
              <option value="Gombe">Gombe</option>
              <option value="Imo">Imo</option>
              <option value="Jigawa">Jigawa</option>
              <option value="Kaduna">Kaduna</option>
              <option value="Kano">Kano</option>
              <option value="Katsina">Katsina</option>
              <option value="Kebbi">Kebbi</option>
              <option value="Kogi">Kogi</option>
              <option value="Kwara">Kwara</option>
              <option value="Lagos">Lagos</option>
              <option value="Nassarawa">Nassarawa</option>
              <option value="Niger">Niger</option>
              <option value="Ogun">Ogun</option>
              <option value="Ondo">Ondo</option>
              <option value="Osun">Osun</option>
              <option value="Oyo">Oyo</option>
              <option value="Plateau">Plateau</option>
              <option value="Rivers">Rivers</option>
              <option value="Sokoto">Sokoto</option>
              <option value="Taraba">Taraba</option>
              <option value="Yobe">Yobe</option>
              <option value="Zamfara">Zamfara</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">

						<!-- Min Area -->
						<div class="col-md-6">
							<select id="bedrooms" data-placeholder="Beds" class="chosen-select-no-single" name="bedrooms">
								<option label="blank"></option>
								<option value="">Beds (Any)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>

						<!-- Max Area -->
						<div class="col-md-6">
							<select id="bathrooms" data-placeholder="Baths" class="chosen-select-no-single" name="bathrooms">
								<option label="blank"></option>
								<option value="">Baths (Any)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>

					</div>
					<!-- Row / End -->

					<br>
          <div class="select-input disabled-first-option">
           <input  placeholder="Min Price" name="min_price_1" data-unit="₦" type="text"/>
           <select name="min_price_2">
            <option value="">
             Min Price
           </option value="1000">
            <option>
             1 000
            </option>
            <option value="2000">
             2 000
            </option>
            <option value="3000">
             3 000
            </option>
            <option value="4000">
             4 000
            </option>
            <option value="5000">
             5 000
            </option>
            <option value="100000">
             10 000
            </option>
            <option value="15000">
             15 000
            </option>
            <option value="20000">
             20 000
            </option>
            <option value="30000">
             30 000
            </option>
            <option value="40000">
             40 000
            </option>
            <option value="500000">
             50 000
            </option>
            <option value="60000">
             60 000
            </option>
            <option value="70000">
             70 000
            </option>
            <option value="80000">
             80 000
            </option>
            <option value="90000">
             90 000
            </option>
            <option value="100000">
             100 000
            </option>
            <option value="110000">
             110 000
            </option>
            <option value="1200000">
             120 000
            </option>
            <option value="130000">
             130 000
            </option>
            <option value="140000">
             140 000
            </option>
            <option value="150000">
             150 000
            </option>
           </select>
          </div>
					<!-- Area Range -->
          <div class="select-input disabled-first-option">
           <input  placeholder="Max Price" name="max_price_1" data-unit="₦" type="text"/>
           <select name="max_price_2">
             <option value="">
              Min Price
            </option value="1000">
             <option>
              1 000
             </option>
             <option value="2000">
              2 000
             </option>
             <option value="3000">
              3 000
             </option>
             <option value="4000">
              4 000
             </option>
             <option value="5000">
              5 000
             </option>
             <option value="100000">
              10 000
             </option>
             <option value="15000">
              15 000
             </option>
             <option value="20000">
              20 000
             </option>
             <option value="30000">
              30 000
             </option>
             <option value="40000">
              40 000
             </option>
             <option value="500000">
              50 000
             </option>
             <option value="60000">
              60 000
             </option>
             <option value="70000">
              70 000
             </option>
             <option value="80000">
              80 000
             </option>
             <option value="90000">
              90 000
             </option>
             <option value="100000">
              100 000
             </option>
             <option value="110000">
              110 000
             </option>
             <option value="1200000">
              120 000
             </option>
             <option value="130000">
              130 000
             </option>
             <option value="140000">
              140 000
             </option>
             <option value="150000">
              150 000
             </option>
           </select>
          </div>

					<br>

					<!-- Price Range -->
          <div class="select-input disabled-first-option">
           <input   placeholder="Min Area" data-unit="sq m" name="min_area_1" type="text"/>
           <select name="min_area_2">
            <option value="">
             Min Area
            </option>
            <option value="300">
             300
            </option>
            <option value="400">
             400
            </option>
            <option value="500">
             500
            </option>
            <option value="700">
             700
            </option>
            <option value="800">
             800
            </option>
            <option value="1000">
             1000
            </option>
            <option value="1500">
             1500
            </option>
           </select>
          </div>
          <div class="select-input disabled-first-option">
           <input placeholder="Max Area" data-unit="sq m" name="max_area_1" type="text"/>
           <select name="max_area_2">
            <option value="">
             Max Area
            </option>
            <option value="300">
             300
            </option>
            <option value="400">
             400
            </option>
            <option value="500">
             500
            </option>
            <option value="700">
             700
            </option>
            <option value="800">
             800
            </option>
            <option value="1000">
             1000
            </option>
            <option value="1500">
             1500
            </option>
           </select>
          </div>



					<!-- More Search Options -->
					<a href="#" class="more-search-options-trigger margin-bottom-10 margin-top-30" data-open-title="Additional Features" data-close-title="Additional Features"></a>

					<div class="more-search-options relative">

						<!-- Checkboxes -->
						<div class="checkboxes one-in-row margin-bottom-10">

							<input id="check-2"  type="checkbox" name="check" value="air conditioning">
							<label for="check-2">Air Conditioning</label>

							<input id="check-3" type="checkbox" name="check" value="swimming pool">
							<label for="check-3">Swimming Pool</label>

							<input id="check-4" type="checkbox" name="check" value="central heating">
							<label for="check-4">Central Heating</label>

							<input id="check-5" type="checkbox" name="check" value="laundry">
							<label for="check-5">Laundry Room</label>


							<input id="check-6" type="checkbox" name="check" value="gym">
							<label for="check-6">Gym</label>

							<input id="check-7" type="checkbox" name="check" value="alarm">
							<label for="check-7">Alarm</label>

							<input id="check-8" type="checkbox" name="check" value="window covering">
							<label for="check-8">Window Covering</label>

						</div>
						<!-- Checkboxes / End -->

					</div>
					<!-- More Search Options / End -->

					<button class="button fullwidth margin-top-30" type="submit">Search</button>


				</div>
      </form>
				<!-- Widget / End -->

			</div>
		</div>
    <!-- Sidebar
		================================================== -->

    <!-- Sidebar / End -->
   </div>
  </div>

  <!-- Footer
================================================== -->
<div class="sticky-footer" id="footer">
 <!-- Main -->
 <div class="container">
   <div class="row">
    <div class="col-md-5 col-sm-6">
     <img alt="" class="footer-logo" src="{% static 'images/logo.png' %}"/>
     <br/>
     <br/>
     <p>
      "The house you looked at today and wanted to think about until tomorrow may be the same house someone looked at yesterday and will buy today" -Koko Adasi
     </p>
    </div>
    <div class="col-md-4 col-sm-6">
     <h4>
      Helpful Links
     </h4>
     <ul class="footer-links">
      <li>
       <a href="{% url 'APP:login_register' %}">
        Login
       </a>
      </li>
      <li>
       <a href="{% url 'APP:login_register' %}">
        Sign Up
       </a>
      </li>
      <li>
       <a href="{% url 'APP:submit_property' %}">
        Add Property
       </a>
      </li>
     </ul>
     <ul class="footer-links">
      <li>
       <a href="{% url 'APP:blog-list' %}">
        Blog
       </a>
      </li>
      <li>
       <a href="{% url 'APP:agencies-list' %}">
        Our Agencies
       </a>
      </li>
      <li>
       <a href="{% url 'APP:contact' %}">
        Contact
       </a>
      </li>
     </ul>
     <div class="clearfix">
     </div>
    </div>
    <div class="col-md-3 col-sm-12">
     <h4>
      Contact Us
     </h4>
     <div class="text-widget">
      <span>
       Monrovia Street Wuse 2, Abuja Nigeria
      </span>
      <br/>
      Phone:
      <span>
       +(234) 805 882 775, +(234) 905 2213 706
      </span>
      <br/>
      E-Mail:
      <span>
       <a href="#">
        sales@afriproperty.com.ng
       </a>
      </span>
      <br/>
     </div>
     <ul class="social-icons margin-top-20">
      <li>
       <a class="facebook" href="#">
        <i class="icon-facebook">
        </i>
       </a>
      </li>
      <li>
       <a class="twitter" href="#">
        <i class="icon-twitter">
        </i>
       </a>
      </li>
      <li>
       <a class="gplus" href="#">
        <i class="icon-gplus">
        </i>
       </a>
      </li>
      <li>
       <a class="vimeo" href="#">
        <i class="icon-vimeo">
        </i>
       </a>
      </li>
     </ul>
    </div>
   </div>
  <!-- Copyright -->
  <div class="row">
   <div class="col-md-12">
    <div class="copyrights">
     <a href=" https://24hubs.com">powered by 24 Hubs©</a> 2020 Afriproperty. All Rights Reserved.
    </div>
   </div>
  </div>
 </div>
</div>
<!-- Footer / End -->
<!-- Back To Top Button -->
<div id="backtotop">
 <a href="#">
 </a>
</div>
<!-- Scripts
================================================== -->
<script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/chosen.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/magnific-popup.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/rangeSlider.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/sticky-kit.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/slick.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/masonry.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/mmenu.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/tooltips.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'scripts/custom.js' %}" type="text/javascript">
</script>
<!-- Google Autocomplete -->
<script>
 function initAutocomplete() {
  var input = document.getElementById('autocomplete-input');
  var autocomplete = new google.maps.places.Autocomplete(input);

  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initAutocomplete">
</script>
</div>
<!-- Wrapper / End -->
</body>
