{% load static %}

<!DOCTYPE html>
<head>
 <!-- Basic Page Needs
================================================== -->
 <title>
  Afriproperty Connect
 </title>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
 <!-- CSS
================================================== -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
</head>
<body>
 <!-- Wrapper -->
 <div id="wrapper">
  <!-- Compare Properties Widget
================================================== -->
  <div class="compare-slide-menu">
   <div class="csm-trigger">
   </div>
   <div class="csm-content">
    <h4>
     Compare Properties
     <div class="csm-mobile-trigger">
     </div>
    </h4>
    <div class="csm-properties">
     <!-- Property -->
     {% for item in compare %}
     <div class="listing-item compact">
      <a class="listing-img-container" href="{{item.get_absolute_url}}">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         {{item.sale_type}}
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         {{item.title}}
         <i>
          ${{item.price}}
         </i>
        </span>
       </div>
       <img alt="" src="{{item.image_1.url}}"/>
      </a>
     </div>
     {% endfor %}
     {% if user.is_authenticated %}
     {% else %}
     <a class="sign-in" href="{% url 'APP:login_register' %}">
      <i class="fa fa-user">
      </i>
      Log In / Register To Compare
     </a>
     {% endif %}
     <!-- Property -->
     <!-- Property -->
    </div>
    {% if user.is_authenticated %}
    <div class="csm-buttons">
     <a class="button" href="{% url 'APP:compare' %}">
      Compare
     </a>
     <form method="GET">
      <input name="clear" value="True" type="hidden">
     <button class="button reset" type="submit">
      Reset
    </button>
   </form>
    </div>
    {% endif %}
   </div>
  </div>
  <!-- Compare Properties Widget / End -->
  <!-- Header Container
================================================== -->
  <header id="header-container">
   <!-- Topbar -->
   <div id="top-bar">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Top bar -->
      <ul class="top-bar-menu">
       <li>
        <i class="fa fa-phone">
        </i>
        +(234) 805 882 775, +(234) 905 2213 706
       </li>
       <li>
        <i class="fa fa-envelope">
        </i>
        <a href="#">
         sales@afriproperty.com.ng
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
     <!-- Left Side Content -->
     <div class="right-side">
      <!-- Social Icons -->
      <ul class="social-icons">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="pinterest" href="#">
         <i class="icon-pinterest">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
    </div>
   </div>
   <div class="clearfix">
   </div>
   <!-- Topbar / End -->
   <!-- Header -->
   <div id="header">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Logo -->
      <div id="logo">
       <a href="{% url 'APP:index' %}">
        <img alt="" src="{% static 'images/logo.png' %}"/>
       </a>
      </div>
      <!-- Mobile Navigation -->
      <div class="mmenu-trigger">
       <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
         <span class="hamburger-inner">
         </span>
        </span>
       </button>
      </div>
      <!-- Main Navigation -->
      <nav class="style-1" id="navigation">
       <ul id="responsive">
        <li>
         <a href="#">
          Features
         </a>
         <ul>
          <li>
           <a href="{% url 'APP:agencies-list' %}">
            Agencies &amp; Agents
           </a>
          </li>
          <li>
           <a href="blog.html">
            Blogs
           </a>
          </li>
          <li>
           <a href="{% url 'APP:compare' %}">
            Compare Properties
           </a>
          </li>
          <li>
           <a href="{% url 'APP:submit_property' %}">
            Submit Property
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="{% url 'APP:contact' %}">
          Contact
         </a>
        </li>
       </ul>
      </nav>
      <div class="clearfix">
      </div>
      <!-- Main Navigation / End -->
     </div>
     <!-- Left Side Content / End -->
     <!-- Right Side Content / End -->
     <div class="right-side">
      <!-- Header Widget -->
      <div class="header-widget">
        {% if user.is_authenticated %}
        <a class="sign-in" onclick="window.location.href='{% url 'APP:logout' %}'">
         <i class="fa fa-user">
         </i>
         Logout
        </a>
        {% else %}
       <a class="sign-in" href="{% url 'APP:login_register' %}">
        <i class="fa fa-user">
        </i>
        Log In / Register
       </a>
       {% endif %}
       <a class="button border" href="{% url 'APP:submit_property' %}">
        Submit Property
       </a>
      </div>
      <!-- Header Widget / End -->
     </div>
     <!-- Right Side Content / End -->
    </div>
   </div>
   <!-- Header / End -->
  </header>
  <div class="clearfix">
  </div>
  <!-- Header Container / End -->
  <!-- Titlebar
================================================== -->
  <div class="property-titlebar margin-bottom-0" id="titlebar">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <a class="back-to-listings" href="{% url 'APP:index' %}">
      </a>
      <div class="property-title">
       <h2>
        {{object.title}}
        <span class="property-badge">
         For {{object.sale_type}}
        </span>
       </h2>
       <span>
        <a class="listing-address" href="#location">
         <i class="fa fa-map-marker">
         </i>
         {{object.address}}
        </a>
       </span>
      </div>
      <div class="property-pricing">
       <div class="property-price">
        ${{object.price}}
       </div>
       <div class="sub-price">
        ${{object.price_per_unit}} / sq ft
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Content
================================================== -->
  <div class="container">
   <div class="row margin-bottom-50">
    <div class="col-md-12">
     <!-- Slider -->
     <div class="property-slider default">
      <a class="item mfp-gallery" data-background-image="{{object.image_1.url}}" href="{{object.image_1.url}}">
      </a>
      {% if object.image_2 %}
      <a class="item mfp-gallery" data-background-image="{{object.image_2.url}}" href="{{object.image_2.url}}">
      </a>
      {% else %}
      <a class="item mfp-gallery" data-background-image="images/single-property-02.jpg" href="images/single-property-02.jpg">
      </a>
      {% endif %}
      {% if object.image_3 %}
      <a class="item mfp-gallery" data-background-image="{{object.image_3.url}}" href="{{object.image_3.url}}">
      </a>
      {% else %}
      <a class="item mfp-gallery" data-background-image="images/single-property-03.jpg" href="images/single-property-03.jpg">
      </a>
      {% endif %}
      {% if object.image_4 %}
      <a class="item mfp-gallery" data-background-image="{{object.image_4.url}}" href="{{object.image_4.url}}">
      </a>
      {% else %}
      <a class="item mfp-gallery" data-background-image="images/single-property-04.jpg" href="images/single-property-04.jpg">
      </a>
      {% endif %}
      {% if object.image_5 %}
      <a class="item mfp-gallery" data-background-image="{{object.image_5.url}}" href="{{object.image_5.url}}">
      </a>
      {% else %}
      <a class="item mfp-gallery" data-background-image="images/single-property-05.jpg" href="images/single-property-05.jpg">
      </a>
      {% endif %}
      {% if object.image_6 %}
      <a class="item mfp-gallery" data-background-image="{{object.image_6.url}}" href="{{object.image_6.url}}">
      </a>
      {% else %}
      <a class="item mfp-gallery" data-background-image="images/single-property-06.jpg" href="images/single-property-06.jpg">
      </a>
      {% endif %}
     </div>
     <!-- Slider Thumbs -->
     <div class="property-slider-nav">
      <div class="item">
       <img alt="" src="{{object.image_1.url}}"/>
      </div>
      <div class="item">
        {% if object.image_2 %}
       <img alt="" src="{{object.image_2.url}}"/>
       {% else %}
       <img alt="" src="{% static 'images/single-property-02.jpg' %}"/>
       {% endif %}
      </div>
      <div class="item">
        {% if object.image_3 %}
       <img alt="" src="{{object.image_3.url}}"/>
       {% else %}
       <img alt="" src="{% static 'images/single-property-03.jpg' %}"/>
       {% endif %}
      </div>
      <div class="item">
        {% if object.image_4 %}
       <img alt="" src="{{object.image_4.url}}"/>
       {% else %}
       <img alt="" src="{% static 'images/single-property-04.jpg' %}"/>
       {% endif %}
      </div>
      <div class="item">
        {% if object.image_5 %}
       <img alt="" src="{{object.image_5.url}}"/>
       {% else %}
       <img alt="" src="{% static 'images/single-property-05.jpg' %}"/>
       {% endif %}
      </div>
      <div class="item">
        {% if object.image_6 %}
       <img alt="" src="{{object.image_6.url}}"/>
       {% else %}
       <img alt="" src="{% static 'images/single-property-06.jpg' %}"/>
       {% endif %}
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <!-- Property Description -->
    <div class="col-lg-8 col-md-7 sp-content">
     <div class="property-description">
      <!-- Main Features -->
      <ul class="property-main-features">
       <li>
        Area
        <span>
         {{object.area}} sq ft
        </span>
       </li>
       <li>
        Rooms
        <span>
         {{object.rooms}}
        </span>
       </li>
       <li>
        Bedrooms
        <span>
         {{object.bedrooms}}
        </span>
       </li>
       <li>
        Bathrooms
        <span>
         {{object.bathrooms}}
        </span>
       </li>
      </ul>
      <!-- Description -->
      <h3 class="desc-headline">
       Description
      </h3>
      <div class="show-more">
       <p>
        {{object.description}}
       </p>
       <a class="show-more-button" href="#">
        Show More
        <i class="fa fa-angle-down">
        </i>
       </a>
      </div>
      <!-- Details -->
      <h3 class="desc-headline">
       Details
      </h3>
      <ul class="property-features margin-top-0">
       <li>
        Building Age:
        <span>
         {{object.building_age}} Years
        </span>
       </li>
       <li>
        Parking:
        <span>
        {{object.parking}}
        </span>
       </li>
       <li>
        Cooling:
        <span>
         {{object.cooling}}
        </span>
       </li>
       <li>
        Heating:
        <span>
         F{{object.heating}}
        </span>
       </li>
       <li>
        Sewer:
        <span>
         {{object.sewer}}
        </span>
       </li>
       <li>
        Water:
        <span>
         {{object.water}}
        </span>
       </li>
       <li>
        Exercise Room:
        <span>
         {{object.exercise_room}}
        </span>
       </li>
       <li>
        Storage Room:
        <span>
         {{object.storage_room}}
        </span>
       </li>
      </ul>
      <!-- Features -->
      <h3 class="desc-headline">
       Features
      </h3>
      <ul class="property-features checkboxes margin-top-0">
       <li>
        {{object.features}}
       </li>
      </ul>
      <!-- Floorplans -->

      <!-- Video -->
      <h3 class="desc-headline no-border">
       Video
      </h3>
      <div class="responsive-iframe">
        {% if object.video %}
       <iframe allowfullscreen="" frameborder="0" height="315" src="{{object.video.url}}" width="560">
       </iframe>
       {% else %}
       <h5>No Video Associated<h5>
       {% endif %}
      </div>
      <!-- Location -->
      <h3 class="desc-headline no-border" id="location">
       Location: {{object.address}}
      </h3>
      <!-- Similar Listings Container -->
      <h3 class="desc-headline no-border margin-bottom-35 margin-top-60">
       Similar Properties
      </h3>
      <!-- Layout Switcher -->
      <div class="layout-switcher hidden">
       <a class="list" href="#">
        <i class="fa fa-th-list">
        </i>
       </a>
      </div>
      <div class="listings-container list-layout">
       <!-- Listing Item -->
       {% for house in houses %}
       <div class="listing-item">
        <a class="listing-img-container" href="{{house.get_absolute_url}}">
         <div class="listing-badges">
          <span>
           For {{house.sale_type}}
          </span>
         </div>
         <div class="listing-img-content">
          <span class="listing-price">
           ${{house.price}}
           <i>
            monthly
           </i>
          </span>
          <span class="like-icon">
          </span>
         </div>
         <img alt="" src="{{house.image_1.url}}"/>
        </a>
        <div class="listing-content">
         <div class="listing-title">
          <h4>
           <a href="{{house.get_absolute_url}}">
            {{house.title}}
           </a>
          </h4>
          <a class="listing-address popup-gmaps" href="">
           <i class="fa fa-map-marker">
           </i>
           {{house.address}}
          </a>
          <a class="details button border" href="{{house.get_absolute_url}}">
           Details
          </a>
         </div>
         <ul class="listing-details">
          <li>
           {{house.area}} sq ft
          </li>
          <li>
           {{house.bedrooms}} Bedroom
          </li>
          <li>
           {{house.rooms}} Rooms
          </li>
          <li>
           {{house.bathrooms}} Bathrooms
          </li>
         </ul>
         <div class="listing-footer">
          <a href="#">
           <i class="fa fa-user">
           </i>
           {{house.creator}}
          </a>
          <span>
           <i class="fa fa-calendar-o">
           </i>
           {{house.date}}
          </span>
         </div>
        </div>
        <!-- Listing Item / End -->
       </div>
       {% endfor %}
   <!-- Listing Item / End -->
      </div>
      <!-- Similar Listings Container / End -->
     </div>
    </div>
    <!-- Property Description / End -->
    <!-- Sidebar -->
    <div class="col-lg-4 col-md-5 sp-sidebar">
     <div class="sidebar sticky right">
      <!-- Widget -->
      <div class="widget margin-bottom-30">
       <button class="widget-button with-tip" data-tip-content="Add to Bookmarks">
        <i class="fa fa-star-o">
        </i>
       </button>
       <form method="GET">
         <input name="second_check"  type="hidden" value="two" />
         <input name="title"  type="hidden" value="{{object.title}}" />
         <input name="address"  type="hidden" value="{{object.address}}" />
         <input name="date"  type="hidden" value="{{object.date}}" />
         <input name="category"  type="hidden" value="{{object.category}}" />
         <input name="sale_type"  type="hidden" value="{{object.sale_type}}" />
         <input name="price"  type="hidden" value="{{object.price}}" />
         <input name="price_per_unit"  type="hidden" value="{{object.price_per_unit}}" />
         <input name="image"  type="hidden" value="{{object.image_1.url}}" />
         <input name="area"  type="hidden" value="{{object.area}}" />
         <input name="rooms"  type="hidden" value="{{object.rooms}}" />
         <input name="bedrooms"  type="hidden" value="{{object.bedrooms}}" />
         <input name="bathrooms"  type="hidden" value="{{object.bathrooms}}" />
         <input name="features"  type="hidden" value="{{object.features}}" />
         <input name="building_age"  type="hidden" value="{{object.building_age}}" />
         <input name="parking"  type="hidden" value="{{object.parking}}" />
         <input name="cooling"  type="hidden" value="{{object.cooling}}" />
         <input name="heating"  type="hidden" value="{{object.heating}}" />
         <input name="sewer"  type="hidden" value="{{object.sewer}}" />
         <input name="water"  type="hidden" value="{{object.water}}" />
         <input name="exercise_room"  type="hidden" value="{{object.exercise_room}}" />
         <input name="storage_room"  type="hidden" value="{{object.storage_room}}" />
       <button class="widget-button with-tip compare-widget-button" data-tip-content="Add to Compare" type="submit">
        <i class="icon-compare">
        </i>
       </button>
     </form>
       <div class="clearfix">
       </div>
      </div>
      <!-- Widget / End -->
      <!-- Booking Widget -->
      <form method="GET">
      <div class="widget">
       <div class="boxed-widget booking-widget margin-top-35" id="booking-widget-anchor">
        <h3>
         <i class="fa fa-calendar-check-o">
         </i>
         Schedule a Tour
        </h3>
        <div class="row with-forms margin-top-0">
         <!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->

         <div class="col-lg-12">
           <input  name="tour" type="hidden" value="True"/>
          <input id="date-picker" placeholder="Date"  name="date" type="text"/>
         </div>
         <!-- Panel Dropdown -->
         <div class="col-lg-12">
           <input id="date-picker" placeholder="8am -9 am"  name="time" type="text"/>
         </div>
         <div class="col-lg-12">
           <input id="date-picker" placeholder="+234 (xxx)"  name="phone" type="text"/>
         </div>
         <div class="col-lg-12">
           <input id="date-picker" placeholder="your name"  name="name" type="text"/>
         </div>
         <!-- Panel Dropdown / End -->
        </div>
        <!-- Book Now -->
        <button class="button book-now fullwidth margin-top-5" type="submit">
         Send Request
       </button>
       </div>
      </div>
    </form>
      <!-- Booking Widget / End -->
      <!-- Widget -->
      <div class="widget">
       <!-- Agent Widget -->
        <form method="GET">
       <div class="agent-widget">
        <div class="agent-title">
         <div class="agent-photo">
          <img alt="" src="{% static 'images/agent-avatar.jpg' %}"/>
         </div>
         <div class="agent-details">
          <h4>
           <a href="#">
            {{object.name}}
           </a>
          </h4>
          <span>
           <i class="sl sl-icon-call-in">
           </i>
           {{object.phone}}
           <input name="to" value="{{object.email}}" type="hidden" />
           <input name="send" value="True" type="hidden" />
          </span>
         </div>
         <div class="clearfix">
         </div>
        </div>
        <input pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" name="email" placeholder="Your Email" type="text"/>
        <input name="phone" placeholder="Your Phone" type="text"/>
        <textarea name="message">I'm interested in the {{object.title}} and I'd like to know more details.</textarea>
        <button class="button fullwidth margin-top-5" type="submit">
         Send Message
        </button>
        {{message}}
       </div>
     </form>
       <!-- Agent Widget / End -->
      </div>
      <!-- Widget / End -->
      <!-- Widget -->
      <div class="widget">
       <h3 class="margin-bottom-30 margin-top-30">
        Mortgage Calculator
       </h3>
       <!-- Mortgage Calculator -->
       <form action="javascript:void(0);" autocomplete="off" class="mortgageCalc" data-calc-currency="USD">
        <div class="calc-input">
         <div class="pick-price tip" data-tip-content="Set This Property Price">
         </div>
         <input id="amount" name="amount" placeholder="Sale Price" required="" type="text"/>
         <label class="fa fa-usd" for="amount">
         </label>
        </div>
        <div class="calc-input">
         <input id="downpayment" placeholder="Down Payment" type="text"/>
         <label class="fa fa-usd" for="downpayment">
         </label>
        </div>
        <div class="calc-input">
         <input id="years" placeholder="Loan Term (Years)" required="" type="text"/>
         <label class="fa fa-calendar-o" for="years">
         </label>
        </div>
        <div class="calc-input">
         <input id="interest" placeholder="Interest Rate" required="" type="text"/>
         <label class="fa fa-percent" for="interest">
         </label>
        </div>
        <button class="button calc-button" formvalidate="">
         Calculate
        </button>
        <div class="calc-output-container">
         <div class="notification success">
          Monthly Payment:
          <strong class="calc-output">
          </strong>
         </div>
        </div>
       </form>
       <!-- Mortgage Calculator / End -->
      </div>
      <!-- Widget / End -->
      <!-- Widget -->

      <!-- Widget / End -->
     </div>
    </div>
    <!-- Sidebar / End -->
   </div>
  </div>
  <!-- Footer
  ================================================== -->
  <div class="sticky-footer" id="footer">
   <!-- Main -->
   <div class="container">
     <div class="row">
      <div class="col-md-5 col-sm-6">
       <img alt="" class="footer-logo" src="{% static 'images/logo.png' %}"/>
       <br/>
       <br/>
       <p>
        "The house you looked at today and wanted to think about until tomorrow may be the same house someone looked at yesterday and will buy today" -Koko Adasi
       </p>
      </div>
      <div class="col-md-4 col-sm-6">
       <h4>
        Helpful Links
       </h4>
       <ul class="footer-links">
        <li>
         <a href="{% url 'APP:login_register' %}">
          Login
         </a>
        </li>
        <li>
         <a href="{% url 'APP:login_register' %}">
          Sign Up
         </a>
        </li>
        <li>
         <a href="{% url 'APP:submit_property' %}">
          Add Property
         </a>
        </li>
       </ul>
       <ul class="footer-links">
        <li>
         <a href="{% url 'APP:blog-list' %}">
          Blog
         </a>
        </li>
        <li>
         <a href="{% url 'APP:agencies-list' %}">
          Our Agencies
         </a>
        </li>
        <li>
         <a href="{% url 'APP:contact' %}">
          Contact
         </a>
        </li>
       </ul>
       <div class="clearfix">
       </div>
      </div>
      <div class="col-md-3 col-sm-12">
       <h4>
        Contact Us
       </h4>
       <div class="text-widget">
        <span>
         Monrovia Street Wuse 2, Abuja Nigeria
        </span>
        <br/>
        Phone:
        <span>
         +(234) 805 882 775, +(234) 905 2213 706
        </span>
        <br/>
        E-Mail:
        <span>
         <a href="#">
          sales@afriproperty.com.ng
         </a>
        </span>
        <br/>
       </div>
       <ul class="social-icons margin-top-20">
        <li>
         <a class="facebook" href="#">
          <i class="icon-facebook">
          </i>
         </a>
        </li>
        <li>
         <a class="twitter" href="#">
          <i class="icon-twitter">
          </i>
         </a>
        </li>
        <li>
         <a class="gplus" href="#">
          <i class="icon-gplus">
          </i>
         </a>
        </li>
        <li>
         <a class="vimeo" href="#">
          <i class="icon-vimeo">
          </i>
         </a>
        </li>
       </ul>
      </div>
     </div>
    <!-- Copyright -->
    <div class="row">
     <div class="col-md-12">
      <div class="copyrights">
       Â© 2020 Afriproperty. All Rights Reserved.
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Footer / End -->
  <!-- Back To Top Button -->
  <div id="backtotop">
   <a href="#">
   </a>
  </div>
  <!-- Scripts
  ================================================== -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/chosen.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/magnific-popup.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/rangeSlider.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/sticky-kit.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/slick.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/masonry.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/mmenu.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/tooltips.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/custom.js' %}" type="text/javascript">
  </script>
  <!-- Google Autocomplete -->
  <script>
   function initAutocomplete() {
    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        window.alert("No details available for input: '" + place.name + "'");
        return;
      }
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initAutocomplete">
  </script>
  </div>
  <!-- Wrapper / End -->
  </body>
