{% load static %}

<!DOCTYPE html>
<head>
 <!-- Basic Page Needs
================================================== -->
 <title>
  Afriproperty Connect
 </title>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
 <!-- CSS
================================================== -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
</head>
<body>
 <!-- Wrapper -->
 <div id="wrapper">
  <!-- Compare Properties Widget
================================================== -->
  <div class="compare-slide-menu">
   <div class="csm-trigger">
   </div>
   <div class="csm-content">
    <h4>
     Compare Properties
     <div class="csm-mobile-trigger">
     </div>
    </h4>
    <div class="csm-properties">
     <!-- Property -->
     {% for item in compare %}
     <div class="listing-item compact">
      <a class="listing-img-container" href="{{item.get_absolute_url}}">
       <div class="remove-from-compare">
        <i class="fa fa-close">
        </i>
       </div>
       <div class="listing-badges">
        <span>
         {{item.sale_type}}
        </span>
       </div>
       <div class="listing-img-content">
        <span class="listing-compact-title">
         {{item.title}}
         <i>
          ₦{{item.price}}
         </i>
        </span>
       </div>
       <img alt="" src="{{item.image_1.url}}"/>
      </a>
     </div>
     {% endfor %}
     {% if user.is_authenticated %}
     {% else %}
     <a class="sign-in" href="{% url 'APP:login_register' %}">
      <i class="fa fa-user">
      </i>
      Log In / Register To Compare
     </a>
     {% endif %}
     <!-- Property -->
     <!-- Property -->
    </div>
    {% if user.is_authenticated %}
    <div class="csm-buttons">
     <a class="button" href="{% url 'APP:compare' %}">
      Compare
     </a>
     <form method="GET">
      <input name="clear" value="True" type="hidden">
     <button class="button reset" type="submit">
      Reset
    </button>
   </form>
    </div>
    {% endif %}
   </div>
  </div>
  <!-- Compare Properties Widget / End -->
  <!-- Header Container
================================================== -->
  <header id="header-container">
   <!-- Topbar -->
   <div id="top-bar">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Top bar -->
      <ul class="top-bar-menu">
       <li>
        <i class="fa fa-phone">
        </i>
        +(234) 805 882 775, +(234) 905 2213 706
       </li>
       <li>
        <i class="fa fa-envelope">
        </i>
        <a href="#">
         sales@afriproperty.com.ng
        </a>
       </li>
       <li>
        <a href="#">
         About
        </a>
       </li>
       <li>
        <a href="{% url 'APP:contact'%}">
         Contact
        </a>
       </li>
       <li>
         <div class="top-bar-dropdown">
           <span>Useful Links</span>
           <ul class="options">
             <li><div class="arrow"></div></li>
             <li><a href="{% url 'APP:agents' %}">Agents</a></li>
             <li><a href="{% url 'APP:agencies-list' %}">Agencies</a></li>
             <li><a href="{% url 'APP:developer-list' %}">Developers</a></li>
             <li><a href="{% url 'APP:partner-list' %}">Partners</a></li>
             <li><a href="{% url 'APP:blog-list' %}">Property Blog</a></li>
           </ul>
         </div>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
     <!-- Left Side Content -->
     <div class="right-side">
      <!-- Social Icons -->
      <ul class="social-icons">
       <li>
        <a class="facebook" href="#">
         <i class="icon-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="twitter" href="#">
         <i class="icon-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="gplus" href="#">
         <i class="icon-gplus">
         </i>
        </a>
       </li>
       <li>
        <a class="pinterest" href="#">
         <i class="icon-pinterest">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <!-- Left Side Content / End -->
    </div>
   </div>
   <div class="clearfix">
   </div>
   <!-- Topbar / End -->
   <!-- Header -->
   <div id="header">
    <div class="container">
     <!-- Left Side Content -->
     <div class="left-side">
      <!-- Logo -->
      <div id="logo">
       <a href="{% url 'APP:index' %}">
        <img alt="" src="{% static 'images/logo.png' %}"/>
       </a>
      </div>
      <!-- Mobile Navigation -->
      <div class="mmenu-trigger">
       <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
         <span class="hamburger-inner">
         </span>
        </span>
       </button>
      </div>
      <!-- Main Navigation -->
      <nav class="style-1" id="navigation">
       <ul id="responsive">
        <li>
         <a href="{% url 'APP:index' %}">
          Home
         </a>
        </li>
        <li>
          <input type="hidden" id="sale" value="sale">
         <a onclick="showsale()">
          For Sale
         </a>
        </li>
        <li>
          <input type="hidden" id="sale2" value="rent">
         <a onclick="showsale2()">
          For Rent
         </a>
        </li>
        <li><a href="#">More</a>
          <ul>
            <li>
              <input type="hidden" id="sale3" value="shortlet">
             <a onclick="showsale3()">
              Shortlet
             </a>
            </li>
            <li>
              <input type="hidden" id="sale4" value="hotel">
             <a onclick="showsale4()">
              Hotels
             </a>
            </li>
            <li>
              <input type="hidden" id="sale11" value="park">
             <a onclick="showsale11()">
              Park and Recreation
             </a>
            </li>
            <li>
              <input type="hidden" id="sale10" value="travels">
             <a onclick="showsale10()">
              Travels and Tours Listing
             </a>
            </li>
            <li>
             <a href="{% url 'APP:pricing' %}">
              Products and Services
             </a>
            </li>
            <li>
             <a href="{% url 'APP:property_video' %}">
              Property Videos
             </a>
            </li>
            <li>
             <a href="{% url 'APP:multi_component' %}">
            Multilevel Component
             </a>
            </li>
            <li>
             <a href="{% url 'APP:valuation' %}">
              Property Valuation
             </a>
            </li>
          </ul>
        </li>
       </ul>
      </nav>
      <div class="clearfix">
      </div>
      <!-- Main Navigation / End -->
     </div>
     <!-- Left Side Content / End -->
     <!-- Right Side Content / End -->
     <div class="right-side">
       {% if user.is_authenticated %}
       <a class="sign-in" onclick="window.location.href='{% url 'APP:logout' %}'">
        <i class="fa fa-user">
        </i>
        Logout
       </a>
       <div class="user-menu">
        <div class="user-name">
         <span>
           {% if profile.image %}
           <img alt="" src="{{profile.image.url}}"/>
           {% else %}
          <img alt="" src="{% static 'images/agent-03.jpg' %}"/>
          {% endif %}
         </span>
         Hi, {{user}}!
        </div>
        <ul>
         <li>
          <a href="{% url 'APP:profile' %}">
           <i class="sl sl-icon-user">
           </i>
           My Profile
          </a>
         </li>
         <li>
          <a href="{% url 'APP:bookmarks' %}">
           <i class="sl sl-icon-star">
           </i>
           Bookmarks
          </a>
         </li>
         <li>
          <a href="{% url 'APP:properties' %}">
           <i class="sl sl-icon-docs">
           </i>
           My Properties
          </a>
         </li>
         <li>
          <a href="{% url 'APP:logout' %}">
           <i class="sl sl-icon-power">
           </i>
           Log Out
          </a>
         </li>
        </ul>
       </div>
       {% else %}
      <a class="sign-in" href="{% url 'APP:login_register' %}">
       <i class="fa fa-user">
       </i>
       Log In / Register
      </a>
      {% endif %}
      <!-- Header Widget -->
      <div class="header-widget">
       <!-- User Menu -->



       <a class="button border" href="{% url 'APP:submit_property' %}">
        Submit Property
       </a>

      </div>

      <!-- Header Widget / End -->
     </div>
     <!-- Right Side Content / End -->
    </div>
   </div>
   <!-- Header / End -->
  </header>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function showOutput () {
  var value=document.getElementById("myInput").value;
  var value_2=document.getElementById("myInput2").value;
  var value_3=document.getElementById("myInput3").value;
  if (document.getElementById("myInput7").checked == true){
    var value_4=document.getElementById("myInput7").value;
  } else if (document.getElementById("myInput5").checked == true){
    var value_4=document.getElementById("myInput5").value;
  } else if (document.getElementById("myInput6").checked == true){
    var value_4=document.getElementById("myInput6").value;
  }else if (document.getElementById("myInput4").checked == true){
    var value_4=document.getElementById("myInput4").value;
  }
   else {
    var value_4="e";
  }

  var paid="one";
  var queryString = "?first_check=" +paid  + "&search=" + value + "&category=" + value_2 + "&max_price=" + value_3 + "&tab=" + value_4;
  window.location.href="listing.html" + queryString;
}

function showcat () {
  var value=document.getElementById("myCat").value;

  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}
function showcat2 () {
  var value=document.getElementById("myCat2").value;


  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}

function showcat3 () {
  var value=document.getElementById("myCat3").value;


  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}

function showcat4 () {
  var value=document.getElementById("myCat4").value;


  var paid="True";
  var queryString = "?check_cat=" +paid  + "&cat=" + value;
  window.location.href="category" + queryString;
}
function showpopular () {
  var value=document.getElementById("mypop").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}
function showpopular2 () {
  var value=document.getElementById("mypop2").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}
function showpopular3 () {
  var value=document.getElementById("mypop3").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}

function showpopular4 () {
  var value=document.getElementById("mypop4").value;


  var paid="True";
  var queryString = "?check_pop=" +paid  + "&pop=" + value;
  window.location.href="popular" + queryString;
}
function showsale () {
  var value=document.getElementById("sale").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale2 () {
  var value=document.getElementById("sale2").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale3 () {
  var value=document.getElementById("sale3").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale4 () {
  var value=document.getElementById("sale4").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale11 () {
  var value=document.getElementById("sale11").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
function showsale10 () {
  var value=document.getElementById("sale10").value;


  var paid="True";
  var queryString = "?check_sale=" +paid  + "&sale_type=" + value;
  window.location.href="category" + queryString;
}
</script>

<style type="text/css">

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

</style>
  <div class="clearfix">
  </div>
  <!-- Header Container / End -->
  <!-- Titlebar
================================================== -->
  <div class="property-titlebar margin-bottom-0" id="titlebar">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <a class="back-to-listings" href="{% url 'APP:index' %}">
      </a>
      <div class="property-title">
       <h2>
        {{object.title}}
        <span class="property-badge">
         For {{object.sale_type}}
        </span>
       </h2>
       <span>
        <a class="listing-address" href="#location">
         <i class="fa fa-map-marker">
         </i>
         {{object.address}}
        </a>
       </span>
      </div>
      <div class="property-pricing">
       <div class="property-price">
        ₦{{object.price}}
       </div>
       <div class="sub-price">
        ₦{{object.price_per_unit}} / sq m
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Content
================================================== -->
  <div class="container">
   <div class="row margin-bottom-50">
    <div class="col-md-12">
     <!-- Slider -->
     <div class="property-slider default">
       {% for item in object.image_1.all %}
      <a class="item mfp-gallery" data-background-image="{% get_media_prefix %}{{item.image}}" href="{% get_media_prefix %}{{item.image}}">
      </a>
      {% endfor %}
     </div>
     <!-- Slider Thumbs -->
     <div class="property-slider-nav">
       {% for item in object.image_1.all %}
      <div class="item">
       <img alt="" src="{% get_media_prefix %}{{item.image}}"/>
      </div>
      {% endfor %}
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <!-- Property Description -->
    <div class="col-lg-8 col-md-7 sp-content">
     <div class="property-description">
      <!-- Main Features -->
      <ul class="property-main-features">
       <li>
        Area
        <span>
         {{object.area}} sq m
        </span>
       </li>
       <li>
        Rooms
        <span>
         {{object.rooms}}
        </span>
       </li>
       <li>
        Bedrooms
        <span>
         {{object.bedrooms}}
        </span>
       </li>
       <li>
        Bathrooms
        <span>
         {{object.bathrooms}}
        </span>
       </li>
      </ul>
      <!-- Description -->
      {% if object.description %}
      <h3 class="desc-headline">
       Description
      </h3>
      <div class="show-more">
       <p>
        {{object.description}}
       </p>
       <a class="show-more-button" href="#">
        Show More
        <i class="fa fa-angle-down">
        </i>
       </a>
      </div>
      {% else %}
      {% endif %}
      <!-- Details -->
      <h3 class="desc-headline">
       Details
      </h3>
      <ul class="property-features margin-top-0">
       <li>
        Building Age:
        <span>
         {{object.building_age}} Years
        </span>
       </li>
       <li>
        Parking:
        <span>
        {{object.parking}}
        </span>
       </li>
       <li>
        Cooling:
        <span>
         {{object.cooling}}
        </span>
       </li>
       <li>
        Heating:
        <span>
         F{{object.heating}}
        </span>
       </li>
       <li>
        Sewer:
        <span>
         {{object.sewer}}
        </span>
       </li>
       <li>
        Water:
        <span>
         {{object.water}}
        </span>
       </li>
       <li>
        Exercise Room:
        <span>
         {{object.exercise_room}}
        </span>
       </li>
       <li>
        Storage Room:
        <span>
         {{object.storage_room}}
        </span>
       </li>
      </ul>
      <!-- Features -->
      <h3 class="desc-headline">
       Features
      </h3>
      <ul class="property-features checkboxes margin-top-0">
       <li>
        {{object.features}}
       </li>
      </ul>
      <!-- Floorplans -->

      <!-- Video -->
      {% if object.video %}
      <h3 class="desc-headline no-border">
       Video
      </h3>
      <div class="responsive-iframe">
        {% if object.video %}
       <iframe allowfullscreen="" frameborder="0" height="315" src="{{object.video.url}}" width="560">
       </iframe>
       {% else %}
       <h5>No Video Associated<h5>
       {% endif %}
      </div>
      {% else %}
      {% endif %}
      <!-- Location -->
      <h3 class="desc-headline no-border" id="location">
       Location: {{object.address}}
      </h3>

      Share:
<div id="share-buttons">

    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://afriproperty.com.ng/{{object.get_absolute_url}}">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://afriproperty.com.ng/{{object.get_absolute_url}}" target="{{object.get_absolute_url}}">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://afriproperty.com.ng/{{object.get_absolute_url}}" target="{{object.get_absolute_url}}">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>


</div>
      <!-- Similar Listings Container -->
      {% if houses %}
      <h3 class="desc-headline no-border margin-bottom-35 margin-top-60">
       Similar Properties
      </h3>
      <!-- Layout Switcher -->
      <div class="layout-switcher hidden">
       <a class="list" href="#">
        <i class="fa fa-th-list">
        </i>
       </a>
      </div>
      <div class="listings-container list-layout">
       <!-- Listing Item -->
       {% for house in houses %}
       <div class="listing-item">
        <a class="listing-img-container" href="{{house.get_absolute_url}}">
         <div class="listing-badges">
          <span>
           For {{house.sale_type}}
          </span>
         </div>
         <div class="listing-img-content">
          <span class="listing-price">
           ₦{{house.price}}
           <i>
            monthly
           </i>
          </span>
          <span class="like-icon">
          </span>
         </div>
         <div class="listing-carousel">
           {% for item in house.image_1.all %}
          <div>
           <img alt="" src="{% get_media_prefix %}{{item.image}}"/>
          </div>
          {% endfor %}
         </div>
        </a>
        <div class="listing-content">
         <div class="listing-title">
          <h4>
           <a href="{{house.get_absolute_url}}">
            {{house.title}}
           </a>
          </h4>
          <a class="listing-address popup-gmaps" href="">
           <i class="fa fa-map-marker">
           </i>
           {{house.address}}
          </a>
          <a class="details button border" href="{{house.get_absolute_url}}">
           Details
          </a>
         </div>
         <ul class="listing-details">
          <li>
           {{house.area}} sq m
          </li>
          <li>
           {{house.bedrooms}} Bedroom
          </li>
          <li>
           {{house.rooms}} Rooms
          </li>
          <li>
           {{house.bathrooms}} Bathrooms
          </li>
         </ul>
         <div class="listing-footer">
          <a href="#">
           <i class="fa fa-user">
           </i>
           {{house.creator}}
          </a>
          <span>
           <i class="fa fa-calendar-o">
           </i>
           {{house.date}}
          </span>
         </div>
        </div>
        <!-- Listing Item / End -->
       </div>
       {% endfor %}
   <!-- Listing Item / End -->
      </div>
      {% endif %}
      <!-- Similar Listings Container / End -->
     </div>
    </div>
    <!-- Property Description / End -->
    <!-- Sidebar -->
    <div class="col-lg-4 col-md-5 sp-sidebar">
     <div class="sidebar sticky right">
      <!-- Widget -->
      <div class="widget margin-bottom-30">
       <button class="widget-button with-tip" data-tip-content="Add to Bookmarks">
        <i class="fa fa-star-o">
        </i>
       </button>
       <form method="GET">
         <input name="third_check"  type="hidden" value="three" />
         <input name="title"  type="hidden" value="{{house.title}}" />
         <input name="address"  type="hidden" value="{{house.address}}" />
         <input name="date"  type="hidden" value="{{house.date}}" />
         <input name="category"  type="hidden" value="{{house.category}}" />
         <input name="sale_type"  type="hidden" value="{{house.sale_type}}" />
         <input name="price"  type="hidden" value="{{house.price}}" />
         <input name="price_per_unit"  type="hidden" value="{{house.price_per_unit}}" />
         {% for item in house.image_1.all %}
         {% if forloop.first %}
         <input name="image"  type="hidden" value="{% get_media_prefix %}{{item.image}}" />
         {% endif %}
         {% endfor %}
         <input name="area"  type="hidden" value="{{house.area}}" />
         <input name="rooms"  type="hidden" value="{{house.rooms}}" />
         <input name="bedrooms"  type="hidden" value="{{house.bedrooms}}" />
         <input name="bathrooms"  type="hidden" value="{{house.bathrooms}}" />
         <input name="features"  type="hidden" value="{{house.features}}" />
         <input name="building_age"  type="hidden" value="{{house.building_age}}" />
         <input name="parking"  type="hidden" value="{{house.parking}}" />
         <input name="cooling"  type="hidden" value="{{house.cooling}}" />
         <input name="heating"  type="hidden" value="{{house.heating}}" />
         <input name="sewer"  type="hidden" value="{{house.sewer}}" />
         <input name="water"  type="hidden" value="{{house.water}}" />
         <input name="exercise_room"  type="hidden" value="{{house.exercise_room}}" />
         <input name="storage_room"  type="hidden" value="{{house.storage_room}}" />
         <button class="fa fa-star ml-auto"  type="submit">
         </button>
     </form>
       <form method="GET">
         <input name="second_check"  type="hidden" value="two" />
         <input name="title"  type="hidden" value="{{house.title}}" />
         <input name="address"  type="hidden" value="{{house.address}}" />
         <input name="date"  type="hidden" value="{{house.date}}" />
         <input name="category"  type="hidden" value="{{house.category}}" />
         <input name="sale_type"  type="hidden" value="{{house.sale_type}}" />
         <input name="price"  type="hidden" value="{{house.price}}" />
         <input name="price_per_unit"  type="hidden" value="{{house.price_per_unit}}" />
         {% for item in house.image_1.all %}
         {% if forloop.first %}
         <input name="image"  type="hidden" value="{% get_media_prefix %}{{item.image}}" />
         {% endif %}
         {% endfor %}
         <input name="area"  type="hidden" value="{{house.area}}" />
         <input name="rooms"  type="hidden" value="{{house.rooms}}" />
         <input name="bedrooms"  type="hidden" value="{{house.bedrooms}}" />
         <input name="bathrooms"  type="hidden" value="{{house.bathrooms}}" />
         <input name="features"  type="hidden" value="{{house.features}}" />
         <input name="building_age"  type="hidden" value="{{house.building_age}}" />
         <input name="parking"  type="hidden" value="{{house.parking}}" />
         <input name="cooling"  type="hidden" value="{{house.cooling}}" />
         <input name="heating"  type="hidden" value="{{house.heating}}" />
         <input name="sewer"  type="hidden" value="{{house.sewer}}" />
         <input name="water"  type="hidden" value="{{house.water}}" />
         <input name="exercise_room"  type="hidden" value="{{house.exercise_room}}" />
         <input name="storage_room"  type="hidden" value="{{house.storage_room}}" />
       <button class="compare-button" type="submit">
       </button>
     </form>
       <div class="clearfix">
       </div>
      </div>
      <!-- Widget / End -->
      <!-- Booking Widget -->
      <form method="GET">
      <div class="widget">
       <div class="boxed-widget booking-widget margin-top-35" id="booking-widget-anchor">
        <h3>
         <i class="fa fa-calendar-check-o">
         </i>
         Schedule a Tour
        </h3>
        <div class="row with-forms margin-top-0">
         <!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->

         <div class="col-lg-12">
           <input  name="tour" type="hidden" value="True"/>
          <input id="date-picker" placeholder="Date"  name="date" type="text"/>
         </div>
         <!-- Panel Dropdown -->
         <div class="col-lg-12">
           <input id="date-picker" placeholder="8am -9 am"  name="time" type="text"/>
         </div>
         <div class="col-lg-12">
           <input id="date-picker" placeholder="+234 (xxx)"  name="phone" type="text"/>
         </div>
         <div class="col-lg-12">
           <input id="date-picker" placeholder="your name"  name="name" type="text"/>
         </div>
         <!-- Panel Dropdown / End -->
        </div>
        <!-- Book Now -->
        <button class="button book-now fullwidth margin-top-5" type="submit">
         Send Request
       </button>
       {{message}}
       </div>
      </div>
    </form>
      <!-- Booking Widget / End -->
      <!-- Widget -->
      <div class="widget">
       <!-- Agent Widget -->
        <form method="GET">
       <div class="agent-widget">
        <div class="agent-title">
         <div class="agent-photo">
          <img alt="" src="{% static 'images/agent-avatar.jpg' %}"/>
         </div>
         <div class="agent-details">
          <h4>
           <a href="#">
            {{object.name}}
           </a>
          </h4>
          <span>
           <i class="sl sl-icon-call-in">
           </i>
           {{object.phone}}
           <input name="to" value="{{object.email}}" type="hidden" />
           <input name="send" value="True" type="hidden" />
          </span>
         </div>
         <div class="clearfix">
         </div>
        </div>
        <input pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" name="email" placeholder="Your Email" type="text"/>
        <input name="phone" placeholder="Your Phone" type="text"/>
        <textarea name="message" value="I'm interested in the {{object.title}} and I'd like to know more details.">I'm interested in the {{object.title}} and I'd like to know more details.</textarea>
        <button class="button fullwidth margin-top-5" type="submit">
         Send Message
        </button>
        {{message}}
       </div>
     </form>
       <!-- Agent Widget / End -->
      </div>
      <!-- Widget / End -->
      <!-- Widget -->
      <!-- Widget / End -->
      <!-- Widget -->

      <!-- Widget / End -->
     </div>
    </div>
    <!-- Sidebar / End -->
   </div>
  </div>
  <!-- Footer
  ================================================== -->
  <div class="sticky-footer" id="footer">
   <!-- Main -->
   <div class="container">
     <div class="row">
      <div class="col-md-5 col-sm-6">
       <img alt="" class="footer-logo" src="{% static 'images/logo.png' %}"/>
       <br/>
       <br/>
       <p>
        "The house you looked at today and wanted to think about until tomorrow may be the same house someone looked at yesterday and will buy today" -Koko Adasi
       </p>
      </div>
      <div class="col-md-4 col-sm-6">
       <h4>
        Helpful Links
       </h4>
       <ul class="footer-links">
        <li>
         <a href="{% url 'APP:login_register' %}">
          Login
         </a>
        </li>
        <li>
         <a href="{% url 'APP:login_register' %}">
          Sign Up
         </a>
        </li>
        <li>
         <a href="{% url 'APP:submit_property' %}">
          Add Property
         </a>
        </li>
       </ul>
       <ul class="footer-links">
        <li>
         <a href="{% url 'APP:blog-list' %}">
          Blog
         </a>
        </li>
        <li>
         <a href="{% url 'APP:agencies-list' %}">
          Our Agencies
         </a>
        </li>
        <li>
         <a href="{% url 'APP:contact' %}">
          Contact
         </a>
        </li>
       </ul>
       <div class="clearfix">
       </div>
      </div>
      <div class="col-md-3 col-sm-12">
       <h4>
        Contact Us
       </h4>
       <div class="text-widget">
        <span>
         Monrovia Street Wuse 2, Abuja Nigeria
        </span>
        <br/>
        Phone:
        <span>
         +(234) 805 882 775, +(234) 905 2213 706
        </span>
        <br/>
        E-Mail:
        <span>
         <a href="#">
          sales@afriproperty.com.ng
         </a>
        </span>
        <br/>
       </div>
       <ul class="social-icons margin-top-20">
        <li>
         <a class="facebook" href="#">
          <i class="icon-facebook">
          </i>
         </a>
        </li>
        <li>
         <a class="twitter" href="#">
          <i class="icon-twitter">
          </i>
         </a>
        </li>
        <li>
         <a class="gplus" href="#">
          <i class="icon-gplus">
          </i>
         </a>
        </li>
        <li>
         <a class="vimeo" href="#">
          <i class="icon-vimeo">
          </i>
         </a>
        </li>
       </ul>
      </div>
     </div>
    <!-- Copyright -->
    <div class="row">
     <div class="col-md-12">
      <div class="copyrights">
       <a href=" https://24hubs.com">powered by 24 Hubs©</a> 2020 Afriproperty. All Rights Reserved.
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Footer / End -->
  <!-- Back To Top Button -->
  <div id="backtotop">
   <a href="#">
   </a>
  </div>
  <!-- Scripts
================================================== -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/chosen.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/magnific-popup.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/rangeSlider.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/sticky-kit.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/slick.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/masonry.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/mmenu.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/tooltips.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'scripts/custom.js' %}" type="text/javascript">
  </script>
  <!-- Google Autocomplete -->
  <script>
   function initAutocomplete() {
    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        window.alert("No details available for input: '" + place.name + "'");
        return;
      }
    });
}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initAutocomplete">
  </script>
 </div>
 <!-- Wrapper / End -->
</body>
